@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 116px;
  height: 116px;
  object-fit: cover;
}
.logo,
.site-name {
  display: flex;
  align-items: center;
}
.site-name {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  width: 381px;
  height: 24px;
  flex-shrink: 0;
}
.logo {
  width: 575px;
  height: 186px;
  flex-direction: row;
  padding: var(--padding-mini) 0 var(--padding-16xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-mini);
  opacity: 1;
}
.logo:visited {
    color: var(--color-mediumaquamarine);
}

.container.animate,
.logo.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.small-btn-icon {
  position: relative;
  width: 33px;
  height: 33px;
}
.small-btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumaquamarine);
  position: relative;
  border-radius: var(--br-9xs);
  width: 43px;
  height: 43px;
  overflow: hidden;
  flex-shrink: 0;
}
.settings-btn1 {
  padding: var(--padding-8xs);
}
.united-kingdom-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.setting-btns,
.settings-btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-btn2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-6xs);
  background-color: var(--color-mediumaquamarine);
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: column;
}
.setting-btns {
  width: 149px;
  height: 180px;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.h-step1,
.header,
.input-peptides {
  display: flex;
  font-family: var(--font-inter);
  align-items: center;
}
.header {
  width: 1360px;
  height: 185px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-614xl);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-mediumaquamarine);
}
.h-step1,
.input-peptides {
  font-size: var(--font-size-8xl);
  position: absolute;
}
.h-step1 {
  margin: 0;
  top: 0.5px;
  left: 1px;
  line-height: 30px;
  font-weight: 800;
  color: var(--color-white);
  text-align: center;
  justify-content: center;
  width: 717px;
  height: 82px;
}
.input-peptides {
  border: 1px solid var(--color-teal);
  background-color: var(--color-white);
  top: 78.5px;
  left: 11px;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  width: 694px;
  height: 86px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-sm);
  justify-content: flex-start;
}
.import-peptides-btn,
.lable-text,
.peptides-import {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-tertiary {
	 color:#000;
	 padding:0;
	 text-align: center;
	 line-height:40px;
	 width:160px;
	 display:block;
	 border:1px solid #000;
	 background-color: var(--color-white);
	 border-radius: var(--br-3xs);
}
 .btn-tertiary:hover{
	 color:#888;
	 border-color:#888;
}
 .input-file{
	width:.1px;
	height:.1px;
	opacity:0;
	overflow:hidden;
	position:absolute;
	z-index:-1
}
.lable-text {
  margin: 0;
  position: relative;
  font-size: var(--font-size-10xl);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  width: 253px;
  height: 24px;
  flex-shrink: 0;
}
.import-peptides-btn,
.peptides-import {
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
}
.import-peptides-btn {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-teal);
  width: 164px;
  height: 47px;
  flex-shrink: 0;
  padding: var(--padding-5xs) var(--padding-xl);
}
.peptides-import {
  position: absolute;
  top: 176.5px;
  left: 0;
  width: 718px;
  height: 101px;
  padding: 0 var(--padding-31xl);
  gap: var(--gap-mini);
}
.search-block,
.input {
  overflow: hidden;
  flex-shrink: 0;
}
.search-block {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-teal);
  width: 718px;
  height: 297px;
}
.input {
  border-radius: var(--br-xl);
  background-color: var(--color-dimgray);
  width: 746px;
  height: 362px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.start-text {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 38px;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 758px;
  height: 127px;
  flex-shrink: 0;
}
.lable-start,
.start,
.start-btn {
  flex-shrink: 0;
  justify-content: center;
}
.lable-start {
  position: relative;
  font-size: var(--font-size-7xl);
  line-height: 24px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  width: 218px;
  height: 24px;
}
.start,
.start-btn {
  overflow: hidden;
  box-sizing: border-box;
}
.start-btn {
  cursor: auto;
  border: 3px solid var(--color-teal);
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--color-white);
  border-radius: var(--br-3xs);
  width: 230px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.start {
  border-radius: var(--br-xl);
  background-color: var(--color-dimgray);
  width: 758px;
  height: 230px;
  flex-direction: column;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.form,
.h-info,
.start {
  display: flex;
  align-items: center;
}
.form {
  width: 750px;
  height: 622px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.h-info {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  justify-content: center;
  width: 440px;
}
.this-function-allows {
  font-weight: 300;
}
.biopep-uwm {
  font-weight: 500;
}
.this-function-allows-container {
  position: relative;
  line-height: 38px;
  display: inline-block;
  width: 440px;
  height: 563px;
  flex-shrink: 0;
}
.text-info {
  width: 491px;
  height: 584px;
  flex-direction: row;
  padding: var(--padding-2xl) var(--padding-11xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -10px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.content,
.information,
.text-info {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
}
.information {
  border-radius: var(--br-xl);
  background-color: var(--color-dimgray);
  width: 519px;
  height: 622px;
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.content {
  width: 1305px;
  height: 671px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
}
.container,
.database-creating {
  background-color: var(--color-darkslategray-100);
  width: 1440px;
  height: 856px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
}
.database-creating {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-mediumaquamarine);
  font-family: var(--font-inter);
}
.database-creating.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 1360px) {
  .logo-icon {
    width: 116px;
    height: 116px;
  }
  .site-name {
    text-align: left;
    width: 381px;
    height: 24px;
  }
  .setting-btns,
  .header,
  .logo {
    flex-direction: row;
    align-items: center;
  }
  .logo {
    width: 632px;
    height: 174px;
    gap: var(--gap-mini);
    justify-content: flex-start;
  }
  .setting-btns,
  .header {
    width: 149px;
    height: 185px;
    justify-content: center;
  }
  .header {
    width: 1000px;
    gap: var(--gap-254xl);
  }
  .h-step1 {
    text-align: center;
    width: 757px;
    height: 78px;
  }
  .input-peptides {
    width: 757px;
    height: 86px;
  }
  .lable-text {
    text-align: left;
    width: 253px;
    height: 24px;
  }
  .search-block,
  .import-peptides-btn,
  .peptides-import {
    width: 138px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  .search-block,
  .peptides-import {
    width: 774px;
    height: 54px;
  }
  .search-block {
    width: 777px;
    height: 270px;
    justify-content: flex-start;
  }
  .input {
    width: 797px;
    height: 362px;
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: center;
  }
  .start-text {
    width: 762px;
    height: 126px;
  }
  .lable-start {
    width: 218px;
    height: 24px;
  }
  .start-btn {
    width: 230px;
    height: 53px;
  }
  .form,
  .start {
    width: 797px;
    align-items: center;
  }
  .start {
    height: 213px;
    flex-direction: column;
    gap: var(--gap-3xs);
    justify-content: center;
  }
  .form {
    height: 604px;
    justify-content: flex-start;
  }
  .text-info {
    width: 499px;
    height: 573px;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .container,
  .content,
  .database-creating,
  .information {
    width: 503px;
    height: 604px;
    align-items: center;
    justify-content: flex-start;
  }
  .container,
  .content,
  .database-creating {
    width: 1000px;
    height: 1288px;
    flex-direction: column;
    gap: var(--gap-11xl);
  }
  .container,
  .database-creating {
    height: 1473px;
    gap: var(--gap-0);
    justify-content: center;
  }
  .database-creating {
    display: flex;
    width: auto;
    height: 1471px;
    gap: var(--gap-3xs);
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .logo-icon {
    width: 116px;
    height: 116px;
  }
  .site-name {
    width: 381px;
    height: 24px;
  }
  .setting-btns,
  .header,
  .logo {
    width: 561px;
    height: 186px;
    flex-direction: row;
    gap: var(--gap-mini);
    align-items: center;
    justify-content: flex-end;
  }
  .setting-btns,
  .header {
    width: 149px;
    height: 185px;
    gap: var(--gap-3xs);
    justify-content: center;
  }
  .header {
    width: 715px;
    gap: var(--gap-36xl);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .h-step1 {
    width: 695px;
    height: 78px;
  }
  .input-peptides {
    width: 674px;
  }
  .lable-text {
    width: 253px;
    height: 24px;
  }
  .import-peptides-btn {
    width: 164px;
    height: 47px;
  }
  .peptides-import {
    width: 692px;
    height: 54px;
  }
  .search-block {
    width: 695px;
    height: 297px;
  }
  .input {
    width: 715px;
    height: 362px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .start-text {
    width: 715px;
    height: 164px;
  }
  .lable-start {
    width: 218px;
    height: 24px;
  }
  .start-btn {
    width: 230px;
    height: 56px;
  }
  .start {
    width: 715px;
    height: 262px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form {
    height: 654px;
  }
  .information {
    width: 503px;
    height: 604px;
    flex-direction: column;
    gap: var(--gap-23xs);
    border-radius: var(--br-xl);
  }
  .container,
  .content,
  .database-creating,
  .information {
    align-items: center;
    justify-content: flex-start;
  }
  .content {
    width: 715px;
    height: 1328px;
    flex-direction: column;
    gap: var(--gap-11xl);
  }
  .container,
  .database-creating {
    height: 1513px;
  }
  .container {
    width: 715px;
    height: 100%;
    flex-direction: column;
    gap: var(--gap-0);
  }
  .database-creating {
    width: auto;
  }
}
@media screen and (max-width: 420px) {
  .logo {
    width: 400px;
    height: 186px;
    flex-direction: column;
  }
  .setting-btns {
    flex-direction: row;
  }
  .header {
    width: 400px;
    height: 308px;
    gap: var(--gap-0);
  }
  .peptides-import {
    width: 380px;
    height: 40px;
  }
  .container,
  .content,
  .database-creating {
    width: 420px;
  }
}
@media screen and (max-width: 730px) {
  .logo {
    height: 210px;
    flex-direction: column;
    gap: var(--gap-mini);
    align-items: center;
    justify-content: flex-start;
  }
  .setting-btns,
  .header {
    align-items: center;
    justify-content: center;
  }
  .header {
    width: 420px;
    height: 295px;
    flex-direction: column;
    gap: var(--gap-0);
    justify-content: flex-start;
  }
  .h-step1 {
    width: 399px;
    height: 82px;
  }
  .input-peptides {
    width: 378px;
  }
  .lable-text {
    width: 253px;
    height: 24px;
  }
  .peptides-import {
    width: 400px;
    height: 101px;
    flex-direction: column;
  }
  .search-block {
    width: 400px;
  }
  .input {
    width: 420px;
  }
  .start-text {
    width: 402px;
    height: 277px;
  }
  .start-btn {
    width: 230px;
    height: 56px;
  }
  .start {
    width: 420px;
    height: 379px;
  }
  .form {
    height: 771px;
  }
  .this-function-allows-container {
    width: 370px;
    height: 702px;
  }
  .text-info {
    width: 420px;
    height: 723px;
  }
  .information {
    width: 420px;
    height: 757px;
  }
  .container,
  .content,
  .database-creating {
    height: 1600px;
    align-items: center;
    justify-content: flex-start;
  }
  .container,
  .database-creating {
    height: 1895px;
  }
  .container {
    width: 420px;
    gap: var(--gap-0);
  }
  .database-creating {
    width: auto;
    flex-direction: column;
  }
}
