html {
  height: 100%;
}
body {
  margin: 0;
  line-height: normal;
  height: 100%;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-6xl: 25px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-lightgray: rgba(205, 205, 205, 0.4);
  --color-dodgerblue: #1592ff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;

  /* Gaps */
  --gap-0: 0px;
  --gap-31xl: 50px;
  --gap-21xl: 40px;
  --gap-smi: 13px;
  --gap-3xs: 10px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-2xl: 21px;
  --padding-11xl: 30px;
  --padding-8xs: 5px;
  --padding-lg: 18px;
  --padding-31xl: 50px;
  --padding-5xs: 8px;
  --padding-xl: 20px;
  --padding-sm: 14px;
  --padding-21xl: 40px;

  /* border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-sm: 14px;
  --br-9xs: 4px;
}
