body {
    overflow-x: hidden;
    width: 100%;
}

@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.db-form {
    width: auto;
    align-items: center;
    justify-content: flex-start;
}
.container.animate,
.logo.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.title {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
  color: var(--color-dodgerblue);
  line-height: 30px;
  font-weight: 600;
}
.vector-icon {
  position: relative;
  width: 34px;
  height: 19px;
}
.accordion,
.show-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-btn {
  cursor: pointer;
  border: 0;
  padding: 23px var(--padding-mini);
  background-color: transparent;
  overflow: hidden;
  flex-direction: column;
}
.accordion {
  align-self: stretch;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--gray-20);
  height: 77px;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.step-1 {
  margin-bottom: 0;
}
.step-1-step-2-step-3-step-4 {
  margin: 0;
  font-family: var(--font-inherit);
  font-weight: 400;
  font-size: var(--font-inherit);
  padding-left: var(--padding-10xl);
}
.text {
  position: absolute;
  top: 0;
  left: 19px;
  font-size: var(--font-size-3xl);
  line-height: 40px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-dodgerblue);
  text-align: left;
  display: inline-block;
  width: 922px;
}
.steps {
  align-self: stretch;
  position: relative;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--gray-20);
  height: 180px;
}
.instructions {
  width: 1349px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.peptide-sequence {
  color: var(--gray-90);
}
.span {
  color: var(--color-darkred);
}
.peptide-sequence-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-8xl);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  text-align: left;
}
.input,
.input-inner {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.input-inner {
  border: 2px solid var(--color-silver);
  background-color: var(--gray-10);
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
  font-size: 25px;
}
.input {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.organism-scientific-name {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-8xl);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--gray-90);
  text-align: left;
}
.input1,
.input4 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.input1 {
  display: flex;
  justify-content: flex-start;
}
.input4 {
  height: 86px;
}
.input-inner5,
.input4,
.input5,
.inputs1 {
  display: flex;
  justify-content: flex-start;
}
.inputs1 {
  width: 660px;
  height: 550px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xl);
}
.input-inner5,
.input5 {
  align-self: stretch;
}
.input-inner5 {
  border: 2px solid var(--color-silver);
  background-color: var(--gray-10);
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  align-items: center;
}
.input5 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.textarea-default {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--gray-10);
  border: 2px solid var(--color-silver);
  box-sizing: border-box;
  height: 168px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 25px;
}
.inputs2,
.text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-area {
  align-self: stretch;
  height: 202px;
  gap: var(--gap-3xs);
}
.inputs2 {
  width: 660px;
  height: 550px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-11xl);
}
.send {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--gray-10);
  text-align: left;
}
.button {
  border-radius: var(--br-9xs);
  background-color: var(--color-dodgerblue);
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.send-form {
    display: flex;
    padding: 0px 11px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}
.container,
.content,
.db-form,
.send-form {
  display: flex;
  align-items: center;
}
.content {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-21xl) var(--padding-21xl);
  justify-content: center;
  gap: var(--gap-11xl);
}
.container,
.db-form {
  background-color: var(--gray-10);
  width: 1440px;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
}
.db-form {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 var(--padding-221xl) var(--padding-11xl);
  box-sizing: border-box;
  opacity: 0;
}
.db-form.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.phosphor-icons-checkcircle {
  position: relative;
  width: 36px;
  height: 36px;
}
.the-application-has {
  flex: 1;
  position: relative;
  line-height: 28px;
}
.modal-header {
  width: 436px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.you-can-track {
  position: relative;
  line-height: 28px;
  display: inline-block;
  width: 436px;
  flex-shrink: 0;
}
.modal-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--gray-70);
}
.button2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.button1 {
  border-radius: var(--br-9xs);
  background-color: var(--color-darkolivegreen);
  width: 130px;
  height: 52px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ok-btn,
.modal-ok {
  display: flex;
  align-items: flex-end;
}
.ok-btn {
  width: 436px;
  height: 52px;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--font-size-3xl);
  color: var(--gray-10);
}
.modal-ok {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--gray-10);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 6px 12px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 15px;
  opacity: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-inter);
}
.modal-ok.animate {
  animation: 0.5s ease 0s 1 normal forwards fade-in;
}

@media screen and (max-width: 1360px) {
  .title {
    font-size: 23px;
    text-align: left;
    flex: 1;
    align-self: stretch;
    height: auto;
  }
  .accordion {
    align-self: stretch;
    width: auto;
    align-items: center;
    justify-content: center;
  }
  .steps {
    display: flex;
  }
  .instructions {
    width: auto;
    align-self: unset;
    align-items: center;
    justify-content: flex-start;
  }
  .input,
  .input1,
  .input4 {
    align-self: stretch;
    width: auto;
  }
  .input5 {
    align-items: center;
    justify-content: flex-start;
  }
  .content,
  .input5,
  .text-area {
    align-self: stretch;
    width: auto;
  }
  .content {
    gap: var(--gap-11xl);
    justify-content: flex-start;
  }
  .container,
  .content,
  .db-form {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 1000px;
    gap: var(--gap-0);
    justify-content: flex-start;
  }
  .db-form {
    display: flex;
    width: auto;
    align-self: unset;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .steps {
    display: flex;
    align-self: stretch;
    width: auto;
    height: 260px;
  }
  .step-1 {
    width: 540px;
  }
  .instructions {
    width: auto;
    align-self: unset;
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }
  .input-inner {
    height: 52px;
  }
  .input,
  .input4 {
    height: auto;
  }
  .inputs1 {
    width: 660px;
    height: 550px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .input-inner5 {
    height: 52px;
    transform: rotate(0deg);
  }
  .inputs2 {
    width: 660px;
    height: 550px;
    gap: var(--gap-11xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button {
    width: 200px;
    height: 60px;
  }
  .send-form {
    flex: 1;
    height: auto;
    align-items: center;
    justify-content: flex-start;
  }
  .container,
  .content {
    height: auto;
    flex-direction: column;
  }
  .content {
    align-self: stretch;
    width: auto;
    gap: var(--gap-11xl);
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
    height: auto;
  }
  .container {
    width: 715px;
    gap: var(--gap-0);
  }
  .db-form {
    width: auto;
    align-self: unset;
    height: auto;
    gap: var(--gap-3xs);
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 420px) {
  .instructions {
    display: none;
  }
  .container,
  .content,
  .db-form {
    width: 420px;
  }
}
@media screen and (max-width: 730px) {
  .instructions {
    display: none;
  }
  .container,
  .content,
  .db-form {
    align-items: center;
    justify-content: flex-start;
  }
  .container {
    width: 900px;
    height: 2500px;
    gap: var(--gap-0);
    min-height: 2200px;
  }
  .db-form {
    height: 1800px;
    flex-direction: column;
  }
}

@media screen and (max-width: 670px) {
    .container, .content {
        width: 500px;
        align-items: center;
    }
    .input, .textarea-default {
        width: 425px;
    }
    .send-form {
        flex-direction: row;
        width: 425px;
    }
}
@media screen and (max-width: 460px) {
    .db-form {
        width: 100%;
        align-items: center;
    }
    .content {
        padding: 0 0 0;
        gap: 0px;
    }
    .container, .content {
        width: 320px;
        align-items: center;
    }
    .input, .textarea-default {
        width: 320px;
    }
    .send-form {
        position: relative;
        flex-direction: row;
        width: 320px;
        right: 110px;
    }
    .organism-scientific-name, .peptide-sequence {
        font-size: 22px;
    }
    .input-inner {
        height: 46px;
    }
    .you-can-track {
        width: 100%;
    }
    .modal-header {
        width: auto
    }
}
