@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container.animate,
.logo.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.content,
.header {
  overflow: hidden;
  flex-shrink: 0;
}
.header {
  width: 1360px;
  height: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-614xl);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-dodgerblue);
  font-family: var(--font-inter);
}
.content {
  position: relative;
  width: 100%
  height: 670px;
  font-family: var(--font-inter);
}
.ahref {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-base);
    background-color: var(--color-dodgerblue);
    border-radius: var(--br-3xs);
    width: 300px;
    height: 65px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-9xs);
    display: flex;
    box-sizing: border-box;
}
.ahref:disabled {
   background-color: #A1A8B0;
}
.table-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
.btn-text {
    position: relative;
    font-family: var(--font-inter);
    text-align: left;
    width: 330px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: var(--gray-10);
}
.container,
.database-table {
  background-color: var(--gray-10);
  width: 1440px;
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
}
.database-table {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 var(--padding-221xl);
  box-sizing: border-box;
  opacity: 0;
}
.database-table.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}

.dataTables_filter {
  margin-bottom: 15px;
  margin-top: 10px; 
}
.db_table {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
td.dt-control {
    text-align: center;
    cursor: pointer;
    width: 50px;
}
.db_table th{
    background-color: #1e88e5;
    color: #fff;
}

.db_table tr{
  transition: all .3s;
}

.db_table tr:hover{
  background-color: #f5f5f5;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.db_table {
    width: 100%;
    table-layout: fixed;
}
.db_table tbody {
  display: block;
  vertical-align: middle;
  border-color: inherit;
  height: 500px;
  overflow-y: overlay;
}
.dataTables_wrapper {
  position: relative;
  clear: both;
  height: 500px;
}
.checkbox-control {
    padding: 10px;
    width: 20px;
}
tbody td {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.checkbox {
  cursor: pointer;
  width: 17px;
  height: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0
}
thead th {
    padding-right: 1px;
}
table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting_asc_disabled,table.dataTable thead>tr>th.sorting_desc_disabled,table.dataTable thead>tr>td.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting_asc_disabled,table.dataTable thead>tr>td.sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    padding-right: 0px
}
tbody td {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
td {
    height: auto;
}
.width32 {
    width: 32px;
}
.width80 {
    width: 80px;
}
.width300 {
    width: 300px;
}
td, th {
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 1360px) {
  .container,
  .database-table {
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 1360px;
    height: 941px;
    gap: var(--gap-0);
    justify-content: flex-start;
  }
  .database-table {
    display: flex;
    width: auto;
    align-self: unset;
    height: auto;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1440px) {
    .db_table {
        width: 1000px;
    }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 715px;
    height: 1660px;
    flex-direction: column;
    gap: var(--gap-0);
  }
  .database-table {
    width: auto;
    align-self: unset;
    height: 1660px;
    align-items: center;
    justify-content: flex-start;
  }

}
  
@media screen and (max-width: 420px) {

  .container,
  .database-table {
    width: 420px;
  }
}
@media screen and (max-width: 730px) {
  .container,
  .database-table,
  .header {
    align-items: center;
    justify-content: flex-start;
  }
  .container {
    width: 900px;
    height: 2500px;
    gap: var(--gap-0);
    min-height: 2200px;
  }
  .database-table {
    height: 1800px;
    flex-direction: column;
  }
}
