@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.register:visited {
    color: #000;
}

.container.animate,
.logo.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.input-inner,
.h-text {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.h-text {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-16xl);
  line-height: 20px;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-dodgerblue);
  text-align: center;
  justify-content: center;
  height: 30px;
}
input:focus {
    outline-width: 0;
}
.input-inner {
  border: 2px solid var(--gray-40);
  background-color: var(--gray-10);
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 529px;
  height: 52px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-xs);
  justify-content: flex-start;
  font-size: 28px;
}
.helper-text-input {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 16px;
  font-family: var(--font-inter);
  color: #a92525;
  text-align: left;
  display: none;
}
.input {
  width: 529px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.helper-text-password,
.password {
  align-self: stretch;
  position: relative;
  font-family: var(--font-inter);
  text-align: left;
}
.password {
  font-size: var(--font-size-11xl);
  line-height: 24px;
  font-weight: 500;
  color: var(--gray-90);
}
.helper-text-password {
  font-size: var(--font-size-xl);
  line-height: 16px;
  color: var(--gray-70);
  display: none;
}
.input1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.login4 {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--gray-10);
  text-align: left;
}
.checkbox-remember {
    margin-left:auto;
    margin-right:auto;
    display: flex;
}
.checkbox-text {
     display: flex;
     align-items: center;
     margin: 0;
	 flex: 1;
	 position: relative;
	 font-size: inherit;
	 line-height: 20px;
	 font-weight: 500;
	 font-family: var(--font-inter);
	 font-size: 20px;
}
.remember {
  cursor: pointer;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 18px;
  height: 18px;
  flex-direction: column;
}

.rememberMe {
    position: relative;
    left: 34%;
    display: flex;
    padding: 0px 5px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.button {
  width: 90%;
  cursor: pointer;
  border-radius: var(--br-9xs);
  background-color: var(--color-dodgerblue);
  height: 66px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.register {
  text-decoration: underline;
}
.already {
  height: 25px;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
}
.button-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.input-parent {
  width: 586px;
  overflow: hidden;
  padding: var(--padding-21xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-11xl);
}
.container,
.content,
.input-parent,
.login,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.login-form {
  border-radius: var(--br-11xl);
  background-color: var(--gray-10);
  height: 673px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 29px 0 0;
  box-sizing: border-box;
}
.container,
.content,
.login {
  width: 1440px;
}
.content {
  height: 756px;
  overflow: hidden;
  flex-shrink: 0;
  padding-top: 20px;
}
.container,
.login {
  background-color: var(--gray-10);
  height: 941px;
  opacity: 1;
}
.login {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 var(--padding-221xl);
  box-sizing: border-box;
  opacity: 0;
}
.login.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 1360px) {
  .content {
    width: 1000px;
    height: 746px;
    gap: var(--gap-0);
    justify-content: flex-start;
  }
  .container,
  .content,
  .login {
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 1000px;
    height: 941px;
    gap: var(--gap-0);
    justify-content: flex-start;
  }
  .login {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .container,
  .content {
    width: 715px;
    flex-direction: column;
    gap: var(--gap-0);
  }
  .content {
    height: 1475px;
    align-items: center;
    justify-content: flex-start;
    max-height: 1475px;
  }
  .container {
    height: 1660px;
  }
  .login {
    width: auto;
    height: 1660px;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 420px) {
  .container,
  .content,
  .login {
    width: 420px;
  }
}
@media screen and (max-width: 730px) {
  .container,
  .content,
  .login {
    align-items: center;
    justify-content: flex-start;
  }
  .container {
    width: 900px;
    height: 2500px;
    gap: var(--gap-0);
    min-height: 2200px;
  }
  .login {
    height: 1800px;
    flex-direction: column;
  }
}

@media screen and (max-width: 530px) {
  .login {
    width: 100%;
    align-items: center;
    height: 850px;
  }
  .container {
    height: auto;
  }
  .input-parent, .input-inner, .input {
     width: 320px;
  }
  .input {
    width: 320px;
  }
  .h-text {
    font-size: 27px;
  }
  .password {
    font-size: 24px;
  }
  .checkbox-text {
    font-size: 17px;
    width: 320px;
  }
  .remember {
    width: 14px;
    height: 14px;
  }
  .rememberMe {
    width: 320px;
    left: 25%;
  }
  .login-form {
    padding: 0 0 0;
  }
  .already {
    line-height: 30px;
    font-size: 19px;
    height: 60px;
  }
  .button {
    width: 100%;
    height: 53px;
  }
  .login4 {
    font-size: 25px;
  }
}
