<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Account</title>
    <link rel="shortcut icon" href="./static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link id="global-theme" rel="stylesheet" href="./static/css/global.css" />
    <link id="index-theme" rel="stylesheet" href="./static/css/account/index-light.css" />
    <link id="popupSearch" rel="stylesheet" href="{{url_for('static', filename='css/modal/modal-search.css')}}"/>
    <link id="popupDatabase" rel="stylesheet" href="{{url_for('static', filename='css/modal/modal-database.css')}}"/>
    <link rel="stylesheet" href="./static/css/header/index.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="account" data-animate-on-scroll>
      <div class="container" data-animate-on-scroll>
          <header class="header">
            <div class=main_selector>
              <a href="/" class="logo" data-animate-on-scroll>
                <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
                <h1 class="site-name">UniPeptides</h1>
              </a>
              <div class="navigation">
                <button class="small-menu">
                  <img class="feather-icons-menu" onclick="openMenu();" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu.svg')}}" />
                </button>
                <a class="nav-btn main" href="/search"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                  <label class="search">Search</label>
                </a>
                <a class="nav-btn main" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                  <label class="search">Database</label>
                </a>
                <a class="nav-btn main" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                  <label class="search">Account</label>
                </a>
                {% if is_auth %}
                <a class="nav-btn main" href="/panel">
                  <label class="search">Edit panel</label>
                </a>
                {% endif %}
                <a class="nav-btn main" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                  <label class="search">Menu</label>
                </a>
              </div>
            </div>
            <div class="secret-navigation" id="secretNavigation">
              <a class="nav-btn" href="/search" style="text-decoration: none; color: #fff;"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                <label class="search">Search</label>
              </a>
              <a class="nav-btn" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                <label class="search">Database</label>
              </a>
              <a class="nav-btn" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                <label class="search">Account</label>
              </a>
              {% if is_auth %}
              <a class="nav-btn" href="/panel">
                <label class="search">Edit panel</label>
              </a>
              {% endif %}
              <a class="nav-btn" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                <label class="search">Menu</label>
              </a>
            </div>
          </header>
        <form class="content" method="post">
          <div class="user">
            <b class="user-name">Hi, {{ username }}!</b>
            <div class="frame-parent">
              <div class="button-parent">
                <div class="btn-select" onclick="selectAll()">
                  <span class="btn-text">Select all</span>
                </div>
                <div class="btn-download" onclick="downloadSelected()">
                  <span class="btn-text">Download selected</span>
                </div>
              </div>
              <div class="button-parent">
                <div class="btn-deleate">
                  <span class="btn-text">Deleate selected</span>
                </div>
                <a href="{{ url_for('logout')}}" class="btn-logout" style="text-decoration: none;">
                  <span class="btn-text">Log out</span>
                </a>
              </div>
            </div>
          </div>
          <div class="results">
            <div class="search-block">
              <b class="block-name">Search for peptides</b>
              <div class="result-wrapper" id="wrapper">
                {% if results %}
                {% for result in results %}
                <div class="result" id="{{ result.id }}">
                  <input class="checkbox" type="checkbox" />
                  <span class="date"
                        onclick="openResult('{{ result.date }}', '{{ result.proteins }}', '{{ result.peptides }}')">
                        {{ result.date }}
                  </span>
                  <div class="action-btns"> 
                    <a href="{{ url_for('get_result', result_id=result.id)}}" class="small-btn">
                      <img class="small-icon-btn" alt="" src="{{url_for('static', filename='images/download.svg')}}"/>
                    </a>
                    <button class="small-btn-red" onclick="removeResult('{{ result.id }}')">
                      <img class="small-icon-btn" alt="" src="{{url_for('static', filename='images/basket.svg')}}"/>
                    </button>
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="search-block">
              <b class="block-name">Requests to add to the database</b>
              <div class="result-wrapper">
                {% if requests %}
                {% for request in requests %}
                <div class="result" id="{{ request.id }}">
                  <span class="date">{{ request.date }}</span>
                  {% if "Сonsideration" == request.status %}
                  <span id="status_{{ request.id }}" class="request_status" style="color: #FFA115">{{request.status}}</span>
                  {% elif "Canceled" == request.status %}
                  <span id="status_{{ request.id }}" class="request_status" style="color: #FF4141">{{request.status}}</span>
                  {% else %}
                  <span id="status_{{ request.id }}" class="request_status" style="color: #15FF1E">{{request.status}}</span>
                  {% endif %}
                </div>
                {% endfor %}
                {% endif %}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="modalSearchPopup" class="popup-overlay" style="display: none">
      <div class="modal-search" data-animate-on-scroll>
        <div class="close-btn-group">
          <button class="close-btn1" onclick=closePopup("modalSearchPopup") data-animate-on-scroll>
            <label class="x1">X</label>
          </button>
          <h1 class="h1" id="res_date"></h1>
        </div>
        <div class="proteins-q14050-p05760-p123-parent">
          <div class="proteins-q14050-p05760-container">
            <b>Proteins:</b>
            <span class="text_span" id="proteins_value"></span>
          </div>
          <div class="proteins-q14050-p05760-container">
            <b>Peptides:</b>
            <span class="text_span" id="peptides_value"></span>
          </div>
        </div>
      </div>
    </div>

    <div id="modalDatabasePopup" class="popup-overlay" style="display: none">
      <div class="modal-database" data-animate-on-scroll>
        <div class="close-btn-parent">
          <button class="close-btn" onclick=closePopup("modalDatabasePopup") data-animate-on-scroll>
            <label class="x">X</label>
          </button>
          <h1 class="h1">Date</h1>
        </div>
        <div class="peptides-wrapper">
          <div class="peptides">Peptides:</div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    <script>

      Animation();
      var selectedFlag = false;
      function selectAll() {
        checkbox = document.getElementsByClassName('checkbox');
        if (!selectedFlag) {
          for (let i = 0; i < checkbox.length; i++) {
            checkbox[i].checked = true;
          }
          selectedFlag = true;
        } else {
          for (let i = 0; i < checkbox.length; i++) {
            checkbox[i].checked = false;
          }
          selectedFlag = false;
        }
      }

      function downloadSelected() {
        var form_data = new FormData();
        checkbox = document.getElementsByClassName('checkbox');
        for (let i = 0; i < checkbox.length; i++) {
          if (checkbox[i].checked) {
            parent_id = checkbox[i].parentElement.id;
            form_data.append(parent_id, 'true');
          }
        if (form_data) {
          $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/account/download',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log("success");
            }
          });
        }
        }
      }
      function removeResult(result_id) {
        result = document.getElementById(result_id);
        result.remove();
        var form_data = new FormData();
        form_data.append('id', result_id);
        if (form_data) {
          console.log(result_id);
          $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/account/remove',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log("success");
            }
          });
        }
      }
      </script>
  </body>
</html>
