<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/db/index.css" />
    <link rel="stylesheet" href="./static/css/db/jquery.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/database.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
  </head>
  <body>
    <div class="database-table" data-animate-on-scroll>
      <div class="container" data-animate-on-scroll>
        <header class="header">
          <a href="/" class="logo" data-animate-on-scroll style="text-decoration: none">
            <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
            <h1 class="site-name">UniPeptides</h1>
          </a>
          <div class="setting-btns">
            <button class="small-btn">
              <img class="night-icon" alt="" src="{{url_for('static', filename='images/header/light/night.svg')}}" />
            </button>
            <button class="small-btn1">
              <img class="night-icon" alt="" src="{{url_for('static', filename='images/header/light/help.svg')}}" />
            </button>
            <button class="small-btn2">
              <img class="united-kingdom-icon" alt="" src="{{url_for('static', filename='images/header/light/united-kingdom.svg')}}"/>
            </button>
          </div>
        </header>
          <div class="content">
            <hr class="mtb-3">
            <table id="table" class="db_table" style="width: 100%;">
              <thead>
                <tr>
                  <th style="width:20px;"><input class="checkbox" type="checkbox" onclick="selectAll()" id="mainCheck"/></th>
                  <th>ID</th>
                  <th>Sequence</th>
                  <th>Length</th>
                  <th>Scientific name</th>
                  <th>Common name</th>
                  <th>Activity</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="table-btn">
            <button type="submit" class="ahref" id="usePeptides" onclick="func()">
              <span class="btn-text">Use peptides to search</span>
              <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
            </button>
            <a href="/databaseForm" class="ahref" id="addPeptides">
              <span class="btn-text">Add peptide to the database</span>
              <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
            </a>
          </div>
        </div>
    </div>

    <script>

      setInterval(checkSelected, 100);

      Animation();

      var interval = setInterval(stateColor, 100);
      setTimeout(function() {
          clearInterval(interval);
          console.log('interval')
      }, 5000);


       $(window).resize(function() {
             if($(window).width() < 1440) {
                content = document.querySelector("body > div > div > div.content");
                content.style.width = '80%';
             }
             if($(window).width() > 1440) {
                content = document.querySelector("body > div > div > div.content");
                content.style.width = '100%';
             }
             if($(window).width() < 1085) {
                table = document.querySelector("#table");
                content.style.width = '80 %';
          }
       });

      </script>
  </body>
</html>
