<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/db/index.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <div class="database-table" data-animate-on-scroll>
      <div class="container" data-animate-on-scroll>
        <header class="header">
          <a href="/" class="logo" data-animate-on-scroll style="text-decoration: none">
            <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
            <h1 class="site-name">UniPeptides</h1>
          </a>
          <div class="setting-btns">
            <button class="small-btn">
              <img class="night-icon" alt="" src="{{url_for('static', filename='images/header/light/night.svg')}}" />
            </button>
            <button class="small-btn1">
              <img class="night-icon" alt="" src="{{url_for('static', filename='images/header/light/help.svg')}}" />
            </button>
            <button class="small-btn2">
              <img class="united-kingdom-icon" alt="" src="{{url_for('static', filename='images/header/light/united-kingdom.svg')}}"/>
            </button>
          </div>
        </header>
          <div class="content">
            <hr class="mtb-3">
            <table id="table" class="db_table" style="width: 100%;">
              <thead>
                <tr>
                  <th style="width:20px;"><input class="checkbox" type="checkbox" onclick="selectAll()" id="mainCheck"/></th>
                  <th>ID</th>
                  <th>Sequence</th>
                  <th>Length</th>
                  <th>Scientific name</th>
                  <th>Common name</th>
                  <th>Antioxidant</th>
                  <th>Antihypertension</th>
                  <th>Antidiabetic</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="table-btn">
            <button type="submit" class="ahref" id="usePeptides" onclick="func()">
              <span class="btn-text">Use peptides to search</span>
              <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
            </button>
            <a href="/databaseForm" class="ahref" id="addPeptides">
              <span class="btn-text">Add peptide to the database</span>
              <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
            </a>
          </div>
        </div>
    </div>

    <script>
      const el = document.getElementsByClassName("checkbox");
      function selectAll() {
        if (!mainCheck.checked) {
          for (let i = 1; i < el.length; i++) {
            el[i].checked = false;
          }
        } else {
          for (let i = 1; i < el.length; i++) {
            el[i].checked = true;
          }
        }
      }
      function checkSelected() {
        let flag = false;
        for (let i = 1; i < el.length; i++) {
            if (el[i].checked === true) {
              flag = true;
              break;
            }
          }
        if (flag) {
          document.getElementById('usePeptides').disabled = false;
        }
        else {
          document.getElementById('usePeptides').disabled = true;
        }
      }
      setInterval(checkSelected, 100);

      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      /* Formatting function for row details - modify as you need */
      function format(d) {
        // `d` is the original data object for the row
        return (
            '<table class="dop_info" cellpadding="5" cellspacing="0" border="0" style="padding-left:20px; height:70px;">' +
            '<tbody style="height:auto;">' +
            '<tr>' +
            '<td style="width: 319px;"><b>ID:</b></td>' +
            '<td>' + '<b>' + d.id + '</b>' +'</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="width: 319px;"><b>Sequence:</b></td>' +
            '<td>' + '<b>' + d.sequence + '</b>' +'</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="width: 319px;"><b>Length:</b></td>' +
            '<td>' + '<b>' + d.length + '</b>' +'</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="width: 319px;"><b>Mass (Da):</b></td>' +
            '<td>' + '<b>' + d.massDa + '</b>' +'</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="width: 319px;"><b>Organism (scientific name):</b></td>' +
            '<td>' + '<b>' + d.scientificName + '</b>' +'</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="width: 319px;"><b>Organism (common name):</b></td>' +
            '<td>' + '<b>' + d.commonName + '</b>' +'</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="width: 319px;"><b>Tissue source or synthetic:</b></td>' +
            '<td>' + '<b>' + d.tissueSource + '</b>' +'</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="width: 319px;"><b>Protein source:</b></td>' +
            '<td>' + '<b>' + d.proteinSource + '</b>' +'</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="width: 319px;"><b>PMID:</b></td>' +
            '<td>' + '<b>' + d.pmid + '</b>' +'</td>' +
            '</tr>' +
            '<tr>' +
            '<td style="width: 319px;"><b>Reference:</b></td>' +
            '<td>' + '<b>' + d.reference + '</b>' +'</td>' +
            '</tr>' +
            '</tbody>' +
            '</table>'
        );
      }
         
        $(document).ready(function () {
            var table = $('#table').DataTable({
                ajax: '../api/database',
                columns: [
                    {
                      className: 'checkbox-control',
                      orderable: false,
                      data: null,
                      defaultContent: '<input class="checkbox" type="checkbox"/>',
                    },
                    {
                      className: 'main-info width32',
                      data: 'id'
                    },
                    {
                      className: 'main-info sequence-bold',
                      data: 'sequence',
                    },
                    {
                      className: 'main-info width80',
                      data: 'length'
                    },
                    {
                      className: 'main-info',
                      data: 'scientificName'
                    },
                    {
                      className: 'main-info',
                      data: 'commonName'
                    },
                    {
                      className: 'main-info color-state',
                      data: 'antioxidant'
                    },
                    {
                      className: 'main-info color-state',
                      data: 'antihypertension'
                    },
                    {
                      className: 'main-info color-state',
                      data: 'antidiabetic'
                    },
                ],
                paging: false,
                order: [[1, 'asc']],
            });
            // Add event listener for opening and closing details
            $('#table tbody').on('click', 'td.main-info', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
         
                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });
        function stateColor() {
          const states = document.getElementsByClassName("color-state");
          search = document.querySelector("#table_filter > label > input[type=search]").style
          search.width = '300px';
          search.height = '35px';
          for (let i = 0; i < states.length; i++) {
            if (states[i].innerHTML === 'Yes') {
              states[i].innerHTML = '<b>Yes</b>';
              states[i].style.color = '#00FF08';
            } else if (states[i].innerHTML === 'No') {
              states[i].innerHTML = '<b>No</b>';
              states[i].style.color = '#FE3A3A';
            }
          }
        }
       var interval = setInterval(stateColor,100);
       setTimeout(function( ) { clearInterval( interval ); console.log('interval') }, 5000);

       $(window).resize(function() {
             if($(window).width() < 1440) {
                content = document.querySelector("body > div > div > div.content");
                content.style.width = '80%';
             }
             if($(window).width() > 1440) {
                content = document.querySelector("body > div > div > div.content");
                content.style.width = '100%';
             }
             if($(window).width() < 1084) {
                table = document.querySelector("#table");
                table.style.overflowX = 'scroll';
          }
       });

      function func() {
          const checkbox_list = document.getElementsByClassName("checkbox");
          const sequence_list = document.getElementsByClassName("sequence-bold");
          let checked_seq = [];
          for (let i = 1; i < checkbox_list.length; i++) {
            if (checkbox_list[i].checked) {
              checked_seq.push(sequence_list[i].innerHTML);
            }
          }
          let peptides = checked_seq.join("?");
          console.log(peptides);
          window.location.href = `/search?peptides=${peptides}`;
      }
      </script>
  </body>
</html>
