<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/form/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="db-form" data-animate-on-scroll>
      <div class="container" data-animate-on-scroll>
        <header class="header">
          <a href="/" class="logo" data-animate-on-scroll style="text-decoration: none">
            <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
            <h1 class="site-name">UniPeptides</h1>
          </a>
          <div class="setting-btns">
            <button class="small-btn">
              <img class="night-icon" alt="" src="{{url_for('static', filename='images/header/light/night.svg')}}" />
            </button>
            <button class="small-btn1">
              <img class="night-icon" alt="" src="{{url_for('static', filename='images/header/light/help.svg')}}" />
            </button>
            <button class="small-btn2">
              <img class="united-kingdom-icon" alt="" src="{{url_for('static', filename='images/header/light/united-kingdom.svg')}}"/>
            </button>
          </div>
        </header>
        <form class="content" id="post-form" method="post">
          <div class="instructions">
            <div class="accordion">
              <h1 class="title">Instructions for filling out the form for adding a peptide to the database</h1>
              <label class="show-btn" onclick="instruction()">
                <img class="vector-icon" alt="" src="{{url_for('static', filename='images/vector4.svg')}}" />
              </label>
            </div>
            <div class="steps" style="display: none;">
              <div class="text">
                <ul class="step-1-step-2-step-3-step-4">
                  <li class="step-1">Fill out the form</li>
                  <li class="step-1">Some fields can be left blank</li>
                  <li class="step-1">The status of the application can be viewed in your personal account</li>
                  <li class="step-1">If there is enough information, then the peptide will be added</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="inputs1">
            <div class="input">
              <div class="peptide-sequence-container">
                <span class="organism-scientific-name">Peptide sequence </span>
                <span class="span">*</span>
              </div>
              <input class="input-inner" type="text" id="sequence" />
            </div>
            <div class="input">
              <span class="organism-scientific-name">Organism (scientific name)</span>
              <input class="input-inner" type="text" id="scientific_name" />
            </div>
            <div class="input">
              <span class="organism-scientific-name">Organism (common name)</span>
              <input class="input-inner" type="text" id="common_name" />
            </div>
            <div class="input">
              <span class="organism-scientific-name">Activity</span>
              <input class="input-inner" type="text" id="activity" />
            </div>
            <div class="input">
              <span class="organism-scientific-name">Protein source</span>
              <input class="input-inner" type="text" id="protein_source" />
            </div>
          </div>
          <div class="inputs2">
            <div class="input">
              <span class="organism-scientific-name">Mass (Da)</span>
              <input class="input-inner" type="text" id="massDa" />
            </div>
            <div class="input">
              <span class="organism-scientific-name">Tissue source or synthetic</span>
              <input class="input-inner" type="text" id="tissue_source" />
            </div>
            <div class="input">
              <span class="organism-scientific-name">PMID</span>
              <input class="input-inner" type="text" id="pmid" />
            </div>
            <div class="text-area">
              <div class="peptide-sequence-container">
                <span class="peptide-sequence">Reference </span>
                <span class="span">*</span>
              </div>
              <textarea class="textarea-default" id="reference"></textarea>
            </div>
          </div>
          <div class="send-form">
            <button type="submit" class="button" id="send" style="cursor: pointer">
              <label class="send" style="cursor: pointer">Send</label>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div id="modalOkPopup" class="popup-overlay" style="display: none">
      <div class="modal-ok" data-animate-on-scroll>
        <div class="modal-header">
          <img class="phosphor-icons-checkcircle" alt="" src="./static/images/modal/phosphor-icons--checkcircle.svg">
          <div class="the-application-has">The application has been sent</div>
        </div>
        <div class="modal-text">
          <div class="you-can-track">
            You can track the status of the application in your personal
            account. In some cases, you may be contacted through the email
            specified in your account
          </div>
        </div>
        <div class="ok-btn">
          <div class="button1" id="popupbuttonContainer" onclick="closePopup('modalOkPopup')">
            <span class="button2">Okey</span>
          </div>
        </div>
      </div>
    </div>
    <script>

      Animation();

      var instructionFlag = "closed";
      function instruction() {
        div = document.querySelector("body > div > div > form > div.instructions > div.steps");
        if (instructionFlag === "closed") {
          div.style.display = "flex";
          instructionFlag = "opened";
        } else {
          div.style.display = "none";
          instructionFlag = "closed";
        }
      }
      $(document).on('click','#send',function(e) {
          e.preventDefault();
          let flag = true;
          sequenceInput = document.getElementById("sequence");
          referenceInput = document.getElementById("reference");
          if (!sequenceInput.value) {
            sequenceInput.style.border = "2px solid var(--color-red)";
            flag = false;
            sequenceInput.onfocus = function() {
                  sequenceInput.style.border = "2px solid var(--color-silver)";
            }
          };
          if (!referenceInput.value) {
            referenceInput.style.border = "2px solid var(--color-red)";
            flag = false;
            referenceInput.onfocus = function() {
                  referenceInput.style.border = "2px solid var(--color-silver)";
            }
          }
          if (flag) {
            startPopup('modalOkPopup');
            var form_data = new FormData();
            form_data.append('sequence', $('#sequence').val());
            form_data.append('scientific_name', $('#scientific_name').val());
            form_data.append('common_name', $("#common_name").val());
            form_data.append('activity', $("#activity").val());
            form_data.append('protein_source', $("#protein_source").val());
            form_data.append('massDa', $("#massDa").val());
            form_data.append('tissue_source', $("#tissue_source").val());
            form_data.append('pmid', $("#pmid").val());
            form_data.append('reference', $("#reference").val());

            $.ajax({
              type:'POST',
              dataType:'json',
              url:'/databaseForm',
              data: form_data,
              contentType: false,
              cache: false,
              processData: false,
              success: function(data) {
                  console.log('Success!');
              }
            })
            inputs = document.getElementsByClassName("input-inner");
            textarea = document.getElementById("reference");
            for (let i = 0; i < inputs.length; i++) {
              inputs[i].value = ''
            };
            textarea.value = ''
          }
      });

      </script>
  </body>
</html>
