<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./index.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
</head>
<body>
  <header class="header">
    <div class=main_selector>
      <div class="logo" data-animate-on-scroll> <img class="logo-icon" alt="" src="./public/logo-blue-1@2x.png" />
        <h1 class="site-name">UniPeptides</h1>
      </div>
      <div class="navigation"> <img class="feather-icons-menu" alt="" src="./public/feather-icons--menu.svg" />
        <div class="nav-btn main" id="navBtnContainer"> <img class="feather-icons-search" alt="" src="./public/feather-icons--search.svg" />
          <div class="search">Search</div>
        </div>
        <div class="nav-btn main" id="navBtnContainer1"> <img class="feather-icons-search" alt="" src="./public/feather-icons--database.svg" />
          <div class="search">Database</div>
        </div>
        <div class="nav-btn main" id="navBtnContainer2"> <img class="feather-icons-search" alt="" src="./public/feather-icons--user.svg" />
          <div class="search">Account</div>
        </div>
        <div class="nav-btn main" id="navBtnContainer3"> <img class="feather-icons-search" alt="" src="./public/feather-icons--menu1.svg" />
          <div class="search">Menu</div>
        </div>
      </div>
    </div>
    <div class="secret-navigation">
      <div class="nav-btn" id="navBtnContainer4"> <img class="feather-icons-search" alt="" src="./public/feather-icons--search.svg" />
        <div class="search">Search</div>
      </div>
      <div class="nav-btn" id="navBtnContainer5"> <img class="feather-icons-search" alt="" src="./public/feather-icons--database.svg" />
        <div class="search">Database</div>
      </div>
      <div class="nav-btn" id="navBtnContainer6"> <img class="feather-icons-search" alt="" src="./public/feather-icons--user.svg" />
        <div class="search">Account</div>
      </div>
      <div class="nav-btn" id="navBtnContainer7"> <img class="feather-icons-search" alt="" src="./public/feather-icons--menu1.svg" />
        <div class="search">Menu</div>
      </div>
    </div>
  </header>
</body>
</html>