<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Log in</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link id="global-theme" rel="stylesheet" href="./static/css/global.css" />
    <link id="index-theme" rel="stylesheet" href="./static/css/account/authorization/index-light.css" />
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="login" data-animate-on-scroll>
      <div class="container" data-animate-on-scroll>
        <header class="header">
          <a href="/" class="logo" style="text-decoration: none" data-animate-on-scroll>
            <img id="logoIconId" class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
            <h1 class="site-name">UniPeptides</h1>
          </a>
          <div class="setting-btns">
            <button class="small-btn">
              <img class="night-icon" alt="" src="{{url_for('static', filename='images/header/light/night.svg')}}" />
            </button>
            <button class="small-btn1">
              <img class="night-icon" alt="" src="{{url_for('static', filename='images/header/light/help.svg')}}" />
            </button>
            <button class="small-btn2">
              <img class="united-kingdom-icon" alt="" src="{{url_for('static', filename='images/header/light/united-kingdom.svg')}}"/>
            </button>
          </div>
        </header>
        <div class="content">
            <form class="login-form" method="POST" id="post-form" action="">
            <h1 class="h-text">Login</h1>
            <div class="input-parent">
              <div class="input">
                <div class="password">Username / Email</div>
                <input class="input-inner" type="text" id="login-input" name="username"/>
                <div class="helper-text-input" id="login-helper-text"></div>
              </div>
              <div class="input">
                <div class="password">Password</div>
                <input class="input-inner" type="password" id="password-input" name="password"/>
                <div class="helper-text-input" id="password-helper-text"></div>
              </div>
              <div class="rememberMe">
                <input class="remember" type="checkbox" id="rememberme" name="rememberme" checked/>
                <span class="checkbox-text">Remember me</span>
              </div>
              <div class="button-parent">
                <button class="button" type="submit">
                  <span class="login4">Login</span>
                </button>
                <div class="for-the-first-container">
                  For the first time on the site?
                  <a href="/register" class="register">Register!</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      Animation();
      const loginInput = document.getElementById("login-input");
      const passwordInput = document.getElementById("password-input");
      const loginText = document.getElementById("login-helper-text");
      const passwordText = document.getElementById("password-helper-text");

      $(document).on('submit','#post-form',function(e) {
          var flag = true;
          e.preventDefault();
          if (!loginInput.value) {
            flag = false;
            loginText.innerHTML = "Write your login";
            loginText.style.display = "flex";
            loginInput.style.border = "2px solid var(--color-red)";
            loginInput.onfocus = function() {
                  loginText.style.display = "none";
                  loginInput.style.border = "2px solid var(--gray-40)";
            }
          };
          if (!passwordInput.value) {
              flag = false;
              passwordText.innerHTML = "Write your password";
              passwordText.style.display = "flex";
              passwordInput.style.border = "2px solid var(--color-red)";
              passwordInput.onfocus = function() {
                    passwordText.style.display = "none";
                    passwordInput.style.border = "2px solid var(--gray-40)";
              }
          };
          if (flag === true) {
            var form_data = new FormData();
            form_data.append('login', $('#login-input').val());
            form_data.append('password', $('#password-input').val());
            form_data.append('rememberme', $('#rememberme').is(':checked'));
            $.ajax({
                type:'POST',
                dataType:'json',
                url:'/login',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data) {
                    console.log("success");
                }
            });
            e.stopPropagation();
          };
      });
      $(document).ready(function(){
        var socket = io();
        socket.on('user not found', function() {
          loginText.innerHTML = "User not found";
          loginText.style.display = "flex";
          loginInput.style.border = "2px solid var(--color-red)";
          loginInput.onfocus = function() {
              loginText.style.display = "none";
              loginInput.style.border = "2px solid var(--gray-40)";
          }
        });
        socket.on('incorrect password', function() {
          passwordText.innerHTML = "Incorrect password";
          passwordText.style.display = "flex";
          passwordInput.style.border = "2px solid var(--color-red)";
          passwordInput.onfocus = function() {
              passwordText.style.display = "none";
              passwordInput.style.border = "2px solid var(--gray-40)";
          }
        });
        socket.on('session was created', function(e) {
          window.location.href = "/account";
        });
      });

    </script>
  </body>
</html>
