<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>UniPeptides</title>
    <link rel="shortcut icon" href="./static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link id="global-theme" rel="stylesheet" href="./static/css/global.css"/>
    <link id="index-theme" rel="stylesheet" href="./static/css/menu/index-light.css"/>
    <link rel="stylesheet" href="./static/css/header/index.css"/>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
  </head>
  <body>
    <div class="main-menu" data-animate-on-scroll>
      <div class="container" data-animate-on-scroll>
          <header class="header">
            <div class=main_selector>
              <a href="/" class="logo" data-animate-on-scroll> <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
                <h1 class="site-name">UniPeptides</h1>
              </a>
              <div class="navigation">
                <button class="small-menu" onclick="openMenu();"><img class="feather-icons-menu" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu.svg')}}" /></button>
                <a class="nav-btn main" href="/search"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                  <label class="search">Search</label>
                </a>
                <a class="nav-btn main" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                  <label class="search">Database</label>
                </a>
                <a class="nav-btn main" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                  <label class="search">Account</label>
                </a>
                {% if is_auth %}
                <a class="nav-btn main" href="/panel">
                  <label class="search">Edit panel</label>
                </a>
                {% endif %}
                <a class="nav-btn main" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                  <label class="search">Menu</label>
                </a>
              </div>
            </div>
            <div class="secret-navigation" id="secretNavigation">
              <a class="nav-btn" href="/search" style="text-decoration: none; color: #fff;"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                <label class="search">Search</label>
              </a>
              <a class="nav-btn" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                <label class="search">Database</label>
              </a>
              <a class="nav-btn" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                <label class="search">Account</label>
              </a>
              {% if is_auth %}
              <a class="nav-btn" href="/panel">
                <label class="search">Edit panel</label>
              </a>
              {% endif %}
              <a class="nav-btn" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                <label class="search">Menu</label>
              </a>
            </div>
          </header>
        <form class="content">
          <div class="row">
            <div class="search-block">
              <h1 class="lable">Search for peptides</h1>
              <label class="text-about">
                <label class="a-program-for">
                  A program for searching for peptides or motifs in proteins. As
                  a result, the user receives an Excel table with all the
                  peptides and information about them
                </label>
              </label>
              <a href="/search" class="ahref">
                <span class="btn-text">Search</span>
                <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
              </a>
            </div>
            <div class="search-block">
              <h1 class="lable">Peptides database</h1>
              <label class="text-about">
                <label class="a-program-for">
                  Database with biologically active peptides. See, use, add
                </label>
              </label>
              <a href="/database" class="ahref">
                <span class="btn-text">Look</span>
                <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
              </a>
            </div>
          </div>
          <div class="row1">
            <div class="search-block">
              <h1 class="lable">Information</h1>
              <label class="text-about">
                <label class="a-program-for">
                  Information about the program. How to use it, how to avoid
                  mistakes. Description of the principle of operation, where the
                  information comes from. All links
                </label>
              </label>
              <a class="ahref" style="background-color: #A1A8B0;">
                <span class="btn-text" style="font-size: 14px;">In working</span>
                <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
              </a>
            </div>
            <div class="search-block">
              <h1 class="lable">Account</h1>
              <label class="text-about">
                <label class="a-program-for">You can register on our website to save the results of your queries</label>
              </label>
              <a href="/account" class="ahref" style="text-decoration: none;">
                <span class="btn-text">Account</span>
                <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script>
      Animation()
    </script>
  </body>
</html>
