<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Edit panel</title>
    <link rel="shortcut icon" href="./static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./static/images/favicon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/css/admin/global.css" />
    <link rel="stylesheet" href="../static/css/admin/index.css" />
    <link rel="stylesheet" href="../static/css/header/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="secret-navigation" id="secretNavigation">
      <div class="burger">
        <button type="button" id="burgerMenu" onclick="openMenu();" class="t-menuburger t-menuburger_first">
          <span style="background-color:#fff;"></span>
          <span style="background-color:#fff;"></span>
          <span style="background-color:#fff;"></span>
          <span style="background-color:#fff;"></span>
        </button>
      </div>
      <a class="nav-btn" href="/search" style="text-decoration: none; color: #fff;"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
        <label class="search">Search</label>
      </a>
      <a class="nav-btn" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
        <label class="search">Database</label>
      </a>
      <a class="nav-btn" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
        <label class="search">Account</label>
      </a>
      {% if is_auth %}
      <a class="nav-btn" href="/panel">
        <label class="search">Edit panel</label>
      </a>
      {% endif %}
      <a class="nav-btn" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
        <label class="search">Menu</label>
      </a>
    </div>
    <div class="admin-panel" id="main-body">
      <div class="container">
          <header class="header">
            <div class=main_selector>
              <a href="/" class="logo" data-animate-on-scroll> <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
                <h1 class="site-name">UniPeptides</h1>
              </a>
              <div class="navigation">
                <button class="small-menu" onclick="openMenu();" id="parent"><img class="feather-icons-menu" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu.svg')}}" /></button>
                <a class="nav-btn main" href="/search"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                  <label class="search">Search</label>
                </a>
                <a class="nav-btn main" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                  <label class="search">Database</label>
                </a>
                <a class="nav-btn main" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                  <label class="search">Account</label>
                </a>
                {% if is_auth %}
                <a class="nav-btn main" href="/panel">
                  <label class="search">Edit panel</label>
                </a>
                {% endif %}
                <a class="nav-btn main" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                  <label class="search">Menu</label>
                </a>
              </div>
            </div>
          </header>
        <div class="content">
          <div class="menu">
            <button class="small-btn1" onclick="selectDatabase()" id="database_btn">
              <span class="database">Database</span>
            </button>
            <button class="small-btn2" onclick="selectRequests()" id="requests_btn">
              <span class="database">Requests</span>
            </button>
          </div>
          <div class="database-content" id="database_container">
            <div class="add-form">
              <div class="form-header">
                <div class="add-a-new">Add a new entry to the database</div>
                <button class="show-btn" onclick="openCard('addPeptide')">
                  <img class="vector-icon" alt="" src="../static/images/admin/vector.svg"/>
                </button>
              </div>
              <form class="form-body" id="addPeptide">
                <div class="input1">
                  <div class="peptide-sequence-container">
                    <span class="peptide-sequence">Peptide sequence </span>
                    <span class="span">*</span>
                  </div>
                  <input class="input-inner" type="text" id="sequence_addPeptide"/>
                </div>
                <div class="input1">
                  <div class="organism-scientific-name">
                    Organism (scientific name)
                  </div>
                  <input class="input-inner" type="text" id="scientific_name_addPeptide"/>
                </div>
                <div class="input1">
                  <div class="organism-scientific-name">
                    Organism (common name)
                  </div>
                  <input class="input-inner" type="text" id="common_name_addPeptide"/>
                </div>
                <div class="input1">
                  <div class="organism-scientific-name">Activity</div>
                  <input class="input-inner" type="text" id="activity_addPeptide"/>
                </div>
                <div class="input1">
                  <div class="organism-scientific-name">Protein source</div>
                  <input class="input-inner" type="text" id="protein_source_addPeptide"/>
                </div>
                <div class="input1">
                  <div class="organism-scientific-name">Mass (Da)</div>
                  <input class="input-inner" type="text" id="massDa_addPeptide"/>
                </div>
                <div class="input1">
                  <div class="organism-scientific-name">
                    Tissue source or synthetic
                  </div>
                  <input class="input-inner" type="text" id="tissue_source_addPeptide"/>
                </div>
                <div class="input1">
                  <div class="organism-scientific-name">PMID</div>
                  <input class="input-inner" type="text" id="pmid_addPeptide"/>
                </div>
                <div class="text-area">
                  <div class="peptide-sequence-container">
                    <span class="peptide-sequence">Reference </span>
                    <span class="span">*</span>
                  </div>
                  <textarea class="textarea-default" id="reference_addPeptide"></textarea>
                </div>
                <div class="buttons2">
                  <div class="the-peptide-has2" style="display:none;" id="addMsg">
                    The peptide has been added
                  </div>
                  <div class="del_peptide_btn">
                    <button class="button13" id="addPeptidesBtn" type="submit">
                      <div class="add">Add</div>
                    </button>
                    <button class="button-red" id="addPeptideClear">
                      <div class="clear">Clear</div>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="add-form">
              <div class="form-header">
                <div class="add-a-new">Edit information about the peptide</div>
                <button class="show-btn" onclick="openCard('editPeptide')">
                  <img class="vector-icon" alt="" src="../static/images/admin/vector.svg" />
                </button>
              </div>
              <form class="form-body" id="editPeptide">
                <div class="find">
                  <div class="input-find">
                    <div class="peptide-sequence-container">
                      <span class="peptide-sequence">Peptide sequence </span>
                      <span class="span">*</span>
                    </div>
                    <input class="input-inner" type="text" id="sequence_editPeptide" />
                  </div>
                  <div class="input-find">
                    <div class="peptide-sequence-container">
                      <span class="peptide-sequence">Activity </span>
                      <span class="span">*</span>
                    </div>
                    <input class="input-inner" type="text" id="activity_editPeptide"/>
                  </div>
                  <div class="search_btn">
                    <label class="button-peptide-search" onclick="findPeptide()">
                      <label class="secret-search">Search</label>
                      <img class="phosphor-icons-caretcircleri" alt="" src="../static/images/admin/phosphor-icons--caretcircleright.svg"/>
                    </label>
                  </div>
                </div>
                <div class="peptide-info">
                  <div class="input1">
                    <div class="organism-scientific-name">
                      Organism (scientific name)
                    </div>
                    <input class="input-inner" type="text" id="scientific_name_editPeptide"/>
                  </div>
                  <div class="input1">
                    <div class="organism-scientific-name">
                      Organism (common name)
                    </div>
                    <input class="input-inner" type="text" id="common_name_editPeptide"/>
                  </div>
                  <div class="input1">
                    <div class="organism-scientific-name">Protein source</div>
                    <input class="input-inner" type="text" id="protein_source_editPeptide"/>
                  </div>
                  <div class="input1">
                    <div class="organism-scientific-name">Mass (Da)</div>
                    <input class="input-inner" type="text" id="massDa_editPeptide"/>
                  </div>
                  <div class="input1">
                    <div class="organism-scientific-name">
                      Tissue source or synthetic
                    </div>
                    <input class="input-inner" type="text" id="tissue_source_editPeptide"/>
                  </div>
                  <div class="input1">
                    <div class="organism-scientific-name">PMID</div>
                    <input class="input-inner" type="text" id="pmid_editPeptide"/>
                  </div>
                  <div class="text-area1">
                    <div class="organism-scientific-name">Reference</div>
                    <input class="textarea-default1" type="text" id="reference_editPeptide"/>
                  </div>
                </div>
                <div class="buttons2">
                  <div class="the-peptide-has2" style="display:none;" id="editMsg">
                    The peptide has been added
                  </div>
                  <div class="del_peptide_btn">
                    <button class="button13" id="editPeptidesBtn" type="submit">
                      <div class="add">Edit</div>
                    </button>
                    <button class="button-red" id="editPeptideClear">
                      <div class="clear">Clear</div>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="add-form">
              <div class="form-header">
                <div class="add-a-new">
                  Remove the peptide from the database
                </div>
                <button class="show-btn" onclick="openCard('removePeptides')">
                  <img class="vector-icon" alt="" src="../static/images/admin/vector.svg" />
                </button>
              </div>
              <form class="form-body" id="removePeptides">
                <div class="input1 remove">
                  <div class="peptide-sequence-container">
                    <span class="peptide-sequence">Peptide sequence </span>
                    <span class="span">*</span>
                  </div>
                  <input class="input-inner" type="text" id="sequence_remove"/>
                </div>
                <div class="input1 remove">
                  <div class="peptide-sequence-container">
                    <span class="peptide-sequence">Activity </span>
                    <span class="span">*</span>
                  </div>
                  <input class="input-inner" type="text" id="activity_remove"/>
                </div>
                <div class="buttons2">
                  <div class="the-peptide-has2" style="display:none;" id="removeMsg">
                    The peptide has been removed
                  </div>
                  <div class="del_peptide_btn">
                    <button class="button13" id="removePeptidesBtn" type="submit">
                      <div class="add">Remove</div>
                    </button>
                    <button class="button-red" id="removePeptideClear">
                      <div class="clear">Clear</div>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="requests-content" id="requests_container">
            {% for request in user_requests %}
            <div class="add-form">
              <div class="form-header requests-head">
                <div class="accepted-request-from-container">
                  <span class="accepted-request-from-container1">
                    <b>
                      {% if "Сonsideration" == request.status %}
                      <span id="status_{{ request.id }}" style="color: #FFA115">{{ request.status }} </span>
                      {% elif "Canceled" == request.status %}
                      <span style="color: #FF4141">{{ request.status }} </span>
                      {% else %}
                      <span style="color: #15FF1E">{{ request.status }} </span>
                      {% endif %}
                    </b>
                    <span class="request-from-t">
                      <span class="request-from">Request from </span>
                      <b class="request-date">{{ request.date }}</b>
                    </span>
                  </span>
                </div>
                <button class="show-btn" onclick="openCard('{{ request.id }}')">
                  <img class="vector-icon3" alt="" src="../static/images/admin/vector.svg" />
                </button>
              </div>
              <form method="post" class="form-body-requests" id="{{ request.id }}" style="display: none;">
                <div class="user-info">
                  <div class="user_info">
                    <div class="username">Username</div>
                    <input class="input-inner" type="text" value="{{ request.username }}" disabled />
                  </div>
                  <div class="user_info">
                    <div class="username">Email</div>
                    <input class="input-inner" type="text" value="{{ request.email }}" disabled />
                  </div>
                  <div class="user_info">
                    <div class="username">Request status</div>
                    <input class="input-inner" type="text" value="{{ request.status }}" disabled />
                  </div>
                </div>
                <div class="peptide-info1">
                  <div class="input">
                    <div class="username">Peptide sequence</div>
                    <input class="input-inner" id="sequence_{{ request.id }}" type="text" value="{{ request.sequence }}"/>
                  </div>
                  <div class="input">
                    <div class="username">Organism (scientific name)</div>
                    <input class="input-inner" id="scientific_name_{{ request.id }}" type="text" value="{{ request.scientific_name }}"/>
                  </div>
                  <div class="input">
                    <div class="username">Organism (common name)</div>
                    <input class="input-inner" id="common_name_{{ request.id }}"  type="text" value="{{ request.common_name }}"/>
                  </div>
                  <div class="input">
                    <div class="username">Activity</div>
                    <input class="input-inner" id="activity_{{ request.id }}" type="text" value="{{ request.activity }}"/>
                  </div>
                  <div class="input">
                    <div class="username">Protein source</div>
                    <input class="input-inner" id="protein_source_{{ request.id }}" type="text" value="{{ request.protein_source }}"/>
                  </div>
                  <div class="input">
                    <div class="username">Mass (Da)</div>
                    <input class="input-inner" id="massDa_{{ request.id }}" type="text" value="{{ request.massDa }}"/>
                  </div>
                  <div class="input">
                    <div class="username">Tissue source or synthetic</div>
                    <input class="input-inner" id="tissue_source_{{ request.id }}" type="text" value="{{ request.tissue_source }}"/>
                  </div>
                  <div class="input">
                    <div class="username">PMID</div>
                    <input class="input-inner" id="pmid_{{ request.id }}" type="text" value="{{ request.pmid }}"/>
                  </div>
                  <div class="text-area">
                    <div class="username">Reference</div>
                    <textarea id="reference_{{ request.id }}" class="textarea-default2">{{ request.reference }}</textarea>
                  </div>
                  {% if request.status == "Сonsideration" %}
                  <div class="buttons2">
                   <div class="the-peptide-has2" style="display:none; width: 300px;" id="message_{{ request.id }}">
                      The peptide has been added
                    </div>
                    <div class="del_peptide_btn">
                      <div class="button13" id="acceptButton_{{ request.id }}" onclick="openPopup('modalAcceptPopup', '{{ request.id }}')">
                        <div class="add">Accept</div>
                      </div>
                      <div class="button-red" id="cancelButton_{{ request.id }}" onclick="openPopup('modalCancelPopup', '{{ request.id }}')">
                        <div class="clear">Cancel</div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </form>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div id="modalOkPopup" class="popup-overlay" style="display: none">
      <div class="modal-ok" data-animate-on-scroll>
        <div class="modal-header">
          <img class="phosphor-icons-checkcircle" alt="" src="../admin/static/images/phosphor-icons--checkcircle.svg"/>
          <div class="the-application-has">The application has been sent</div>
        </div>
        <div class="text">
          <div class="you-can-track">
            You can track the status of the application in your personal
            account. In some cases, you may be contacted through the email
            specified in your account
          </div>
        </div>
        <div class="button">
          <div class="button1" id="popupbuttonContainer">
            <div class="button2">Okey</div>
          </div>
        </div>
      </div>
    </div>

    <div id="modalAcceptPopup" class="popup-overlay" style="display: none">
      <div class="modal-accept">
        <div class="modal-header1">
          <img class="feather-icons-info" alt="" src="../static/images/admin/feather-icons--info.svg"/>

          <div class="accept-the-request">Accept the request to add?</div>
        </div>
        <div class="text1">
          <div class="after-taking-the">
            After taking the peptide, it will be added to the database. You can
            edit and delete peptides from the database
          </div>
        </div>
        <div class="button3">
          <div class="button4" onclick="acceptRequest()">
            <div class="button5">Yes</div>
          </div>
          <div class="button6" onclick="closePopup('modalAcceptPopup');">
            <div class="button5">Back</div>
          </div>
        </div>
      </div>
    </div>

    <div id="modalCancelPopup" class="popup-overlay" style="display: none">
      <div class="modal-cancel">
        <div class="modal-header2">
          <img class="feather-icons-info1" alt="" src="../static/images/admin/feather-icons--info.svg"/>

          <div class="modal-window">Cancel the request?</div>
        </div>
        <div class="text2">
          <div class="the-greatest-glory">
            Are you sure you want to cancel the request? The user will receive
            information that the request has been canceled.
          </div>
        </div>
        <div class="button8">
          <div class="button9">
            <div class="button10" onclick="cancelRequest()">Yes</div>
          </div>
          <div class="button11" onclick="closePopup('modalCancelPopup');">
            <div class="button10">Back</div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/panel.js')}}"></script>
</html>
