<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Password reset</title>
    <link rel="shortcut icon" href="../static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link id="global-theme" rel="stylesheet" href="../static/css/global.css" />
    <link id="index-theme" rel="stylesheet" href="../static/css/account/authorization/index-light.css" />
    <link rel="stylesheet" href="../static/css/header/index.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="secret-navigation" id="secretNavigation">
      <div class="burger">
        <button type="button" id="burgerMenu" onclick="openMenu();" class="t-menuburger t-menuburger_first">
          <span style="background-color:#fff;"></span>
          <span style="background-color:#fff;"></span>
          <span style="background-color:#fff;"></span>
          <span style="background-color:#fff;"></span>
        </button>
      </div>
      <div class="burger-btns">
        <a class="nav-btn" href="/search" style="text-decoration: none; color: #fff;"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
          <label class="search">Search</label>
        </a>
        <a class="nav-btn" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
          <label class="search">Database</label>
        </a>
        <a class="nav-btn" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
          <label class="search">Account</label>
        </a>
        {% if is_auth %}
        <a class="nav-btn" href="/panel">
          <label class="search">Edit panel</label>
        </a>
        {% endif %}
        <a class="nav-btn" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
          <label class="search">Menu</label>
        </a>
      </div>
    </div>
    <div class="login" id="main-body" data-animate-on-scroll>
      <div class="container" data-animate-on-scroll>
          <header class="header">
            <div class=main_selector>
              <a href="/" class="logo" data-animate-on-scroll> <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
                <h1 class="site-name">UniPeptides</h1>
              </a>
              <div class="navigation">
                <button class="small-menu" onclick="openMenu();" id="parent"><img class="feather-icons-menu" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu.svg')}}" /></button>
                <a class="nav-btn main" href="/search"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                  <label class="search">Search</label>
                </a>
                <a class="nav-btn main" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                  <label class="search">Database</label>
                </a>
                <a class="nav-btn main" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                  <label class="search">Account</label>
                </a>
                {% if is_auth %}
                <a class="nav-btn main" href="/panel">
                  <label class="search">Edit panel</label>
                </a>
                {% endif %}
                <a class="nav-btn main" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                  <label class="search">Menu</label>
                </a>
              </div>
            </div>
          </header>
        <div class="content">
            <form class="login-form" method="POST" id="post-form" action="">
            <h1 class="h-text">Password reset</h1>
            <div class="input-parent">
              {% if token == 'error' %}
              <div class="instruction red" style="display: flex" id="instruction">
                <label class="sent_on" id="msg_text">The token is outdated or remains</label>
              </div>
              {% endif %}
              <div class="instruction" style="display: none" id="instruction">
                <label class="sent_on" id="msg_text">The token is outdated or remains</label>
              </div>
              <div class="input">
                <div class="password">New password</div>
                <input class="input-inner" type="text" id="password-input1" name="pass1"/>
                <div class="helper-text-input" id="pass1-helper-text"></div>
              </div>
              <div class="input">
                <div class="password">Repeat the password</div>
                <input class="input-inner" type="text" id="password-input2" name="pass2"/>
                <div class="helper-text-input" id="pass2-helper-text"></div>
              </div>
              <div class="button-parent">
                <button class="button" type="submit">
                  <span class="login4">Reset</span>
                </button>
                <div class="already" style="gap: 5px;">
                  Need help?
                  <label class="register">support@unipeptides.ru</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/password_recovery_reset.js')}}"></script>
</html>
