<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/css/global.css" />
    <link rel="stylesheet" href="./static/css/header/index.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css"/>
    <link rel="stylesheet" href="./static/css/peptides_db/index.css"/>
  </head>
  <body>
    <div class="database-table" data-animate-on-scroll>
      <div class="container" data-animate-on-scroll>
          <header class="header">
            <div class=main_selector>
              <a href="/" class="logo" data-animate-on-scroll> <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
                <h1 class="site-name">UniPeptides</h1>
              </a>
              <div class="navigation"><img class="feather-icons-menu" onclick="openMenu();" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu.svg')}}" />
                <a class="nav-btn main" href="/search"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                  <label class="search">Search</label>
                </a>
                <a class="nav-btn main" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                  <label class="search">Database</label>
                </a>
                <a class="nav-btn main" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                  <label class="search">Account</label>
                </a>
                <a class="nav-btn main" href="#"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                  <label class="search">Menu</label>
                </a>
              </div>
            </div>
            <div class="secret-navigation" id="secretNavigation">
              <a class="nav-btn" href="/search" style="text-decoration: none; color: #fff;"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                <label class="search">Search</label>
              </a>
              <a class="nav-btn" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                <label class="search">Database</label>
              </a>
              <a class="nav-btn" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                <label class="search">Account</label>
              </a>
              <a class="nav-btn" href="#"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                <label class="search">Menu</label>
              </a>
            </div>
          </header>
          <div class="content" data-animate-on-scroll>
            <hr class="mtb-3">
            <table id="table" class="display nowrap collapsed" style="width:100%">
              <thead>
                <tr>
                  <th></th>
                  <th><input class="checkbox" type="checkbox" id="mainCheck" onclick="selectAll()"/></th>
                  <th>ID</th>
                  <th>Sequence</th>
                  <th>Length</th>
                  <th>Scientific name</th>
                  <th>Common name</th>
                  <th>Activity</th>
                  <th>Tissue source</th>
                  <th>Protein source</th>
                  <th>PMID</th>
                  <th>Reference</th>
                </tr>
              </thead>
            </table>
            <div class="table-btn">
            <button type="submit" class="ahref" id="usePeptides" onclick="pepInSearch()" disabled>
              <span class="btn-text">Use peptides to search</span>
              <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
            </button>
            <a href="/database/form" class="ahref" id="addPeptides">
              <span class="btn-text">Add peptide to the database</span>
              <img class="phosphor-icons-caretcircleri" alt="" src="{{url_for('static', filename='images/phosphor-icons--caretcircleright.svg')}}"/>
            </a>
          </div>
          </div>
        </div>
    </div>
  </body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/db.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/peptides_db.js')}}"></script>
</html>