<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Registration</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"/>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link id="global-theme" rel="stylesheet" href="./static/css/global.css" />
    <link id="index-theme" rel="stylesheet" href="./static/css/account/authorization/index-light.css" />
    <link rel="stylesheet" href="./static/css/header/index.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="login" data-animate-on-scroll>
      <div class="container" data-animate-on-scroll>
          <header class="header">
            <div class=main_selector>
              <a href="/" class="logo" data-animate-on-scroll> <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
                <h1 class="site-name">UniPeptides</h1>
              </a>
              <div class="navigation"><img class="feather-icons-menu" onclick="openMenu();" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu.svg')}}" />
                <a class="nav-btn main" href="/search"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                  <label class="search">Search</label>
                </a>
                <a class="nav-btn main" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                  <label class="search">Database</label>
                </a>
                <a class="nav-btn main" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                  <label class="search">Account</label>
                </a>
                {% if is_auth %}
                <a class="nav-btn main" href="/panel">
                  <label class="search">Edit panel</label>
                </a>
                {% endif %}
                <a class="nav-btn main" href="#"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                  <label class="search">Menu</label>
                </a>
              </div>
            </div>
            <div class="secret-navigation" id="secretNavigation">
              <a class="nav-btn" href="/search" style="text-decoration: none; color: #fff;"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                <label class="search">Search</label>
              </a>
              <a class="nav-btn" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                <label class="search">Database</label>
              </a>
              <a class="nav-btn" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                <label class="search">Account</label>
              </a>
              {% if is_auth %}
              <a class="nav-btn" href="/panel">
                <label class="search">Edit panel</label>
              </a>
              {% endif %}
              <a class="nav-btn" href="#"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                <label class="search">Menu</label>
              </a>
            </div>
          </header>
        <div class="content">
          <form class="login-form" method="post" id="post-form" action="/account">
            <h1 class="h-text">Registration</h1>
            <div class="input-parent">
              <div class="input">
                <div class="password">Login</div>
                <input class="input-inner" type="text" id="login-input" name="username"/>
                <div class="helper-text-input" id="login-helper-text"></div>
              </div>
              <div class="input">
                <div class="password">Email</div>
                <input class="input-inner" type="Email" id="email-input" name="email"/>
                <div class="helper-text-input" id="email-helper-text"></div>
              </div>
              <div class="input">
                <div class="password">Password</div>
                <input class="input-inner" type="password" id="password-input" name="password"/>
                <div class="helper-text-input" id="password-helper-text"></div>
              </div>
              <div class="button-parent">
                <button class="button" type="submit">
                  <span class="login4">Register</span>
                </button>
                <div class="already">
                  Already registered?
                  <a href="/login" class="register"> Log in!</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/authorization/register.js')}}"></script>
</html>
