<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Search for peptides</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link id="global-theme" rel="stylesheet" href="./static/css/global.css"/>
    <link id="index-theme" rel="stylesheet" href="./static/css/search/index-light.css"/>
    <link rel="stylesheet" href="./static/css/modal/modal.css"/>
    <link id="popupGlobal" rel="stylesheet" href="{{url_for('static', filename='css/modal/global.css')}}"/>
    <link id="popup-ok-msg" rel="stylesheet" href="{{url_for('static', filename='css/modal/ok-message.css')}}" />
    <link id="popup-error-msg" rel="stylesheet" href="{{url_for('static', filename='css/modal/error-message.css')}}" />
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="window">
      <div class="container" data-animate-on-scroll>
        <header class="header">
          <a href="/" class="logo" style="text-decoration: none" id="Logo">
            <img id="logoIconId" class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}"/>
            <h1 class="site-name">UniPeptides</h1>
          </a>
          <div class="setting-btns">
            <button class="small-btn" onclick="themeChange('search')">
              <img class="small-btn-icon" alt="" src="{{url_for('static', filename='images/header/light/night.svg')}}" />
            </button>
            <button class="small-btn">
              <img class="small-btn-icon" alt="" src="{{url_for('static', filename='images/header/light/help.svg')}}" />
            </button>
            <button class="small-btn" onclick="changeLang()">
              <img class="small-btn-icon" alt="" src="{{url_for('static', filename='images/header/light/united-kingdom.svg')}}"/>
            </button>
          </div>
        </header>
        <form class="content" method="post" id="post-form">
          <div class="handler">
            <div class="inputs">
              <div class="step-1">
                <h1 id="h-step1" class="step-11">Step 1</h1>
                <div class="step1-frame">
                  <h1 id="action-step1" class="enter-one-or">Enter one or more protein</h1>
                  <input class="step1-frame-child" type="text" name="proteins_value" placeholder="Q14050" id="proteins-input"/>
                  <h2 class="enter-one-or">OR</h2>
                  <div class="proteins-import">
                    <h3 class="import-txt-file">import TXT file</h3>
                    <input type="file" name="userProteinsFile" id="userProteinsFile" class="input-file" accept=".txt">
                    <label for="userProteinsFile" class="btn btn-tertiary js-labelFile">
                      <span class="js-fileName">Select</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="step-2">
                <h1 id="h-step2" class="step-21">Step 2</h1>
                <div class="step1-frame1">
                  <h1 id="action-step2" class="enter-one-or1">Enter one or more peptides</h1>
                  <input class="step1-frame-item" type="text" name="peptides_value" placeholder="GPPG, ATRGL, GGT" id="peptides-input"/>
                  <h2 class="enter-one-or">OR</h2>
                  <div class="proteins-import">
                    <h3 class="import-txt-file">import TXT file</h3>
                    <input type="file" name="userPeptidesFile" id="userPeptidesFile" class="input-file" accept=".txt">
                    <label for="userPeptidesFile" class="btn btn-tertiary js-labelFile">
                      <span class="js-fileName">Select</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="step3">
              <h1 id="h-step3" class="step-3">Step 3</h1>
              <div class="check-box">
                <div class="entry-identifier">
                  <div class="frame-parent">
                    <input name="entryName" id="entry_name" class="filters" type="checkbox" checked=""/>
                    <h1 class="text-filters">Entry name</h1>
                  </div>
                </div>
                <div class="filter-div">
                  <input name="entryType" id="status" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Status</h1>
                </div>
                <div class="filter-div">
                  <input name="fullName" value="1" id="protein_name" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Protein name</h1>
                </div>
                <div class="filter-div">
                  <input name="scientificName" id="scientific_name" class="filters" type="checkbox" checked="">
                  <h1 class="text-filters">Organism (scientific name)</h1>
                </div>
                <div class="filter-div">
                  <input name="commonName" id="common_name" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Organism (common name)</h1>
                </div>
                <div class="filter-div">
                  <input name="genes" id="gene" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Gene name</h1>
                </div>
                <div class="filter-div">
                  <input name="proteinExistence" id="protein_existence" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Protein existence</h1>
                </div>
                <div class="filter-div">
                  <input name="length" id="sequence_length" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Length</h1>
                </div>
                <div class="filter-div">
                  <input name="massDa" id="mass_da" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Mass (Da)</h1>
                </div>
                <div class="filter-div">
                  <input name="category" id="category" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Category</h1>
                </div>
                <div class="filter-div">
                  <input name="id" id="peptide_id" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Peptide ID</h1>
                </div>
                <div class="filter-div">
                  <input name="sequence" id="sequence" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Sequence</h1>
                </div>
                <div class="filter-div">
                  <input name="sequence_length" id="peptide_length" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Sequence length</h1>
                </div>
                <div class="filter-div">
                  <input name="occurrence" id="occurrence" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Occurrence</h1>
                </div>
                <div class="filter-div">
                  <input name="position" id="position" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Position</h1>
                </div>
                <div class="filter-div">
                  <input name="cter" id="cterm" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Amino acid from the C-terminus</h1>
                </div>
                <div class="filter-div">
                  <input name="nter" id="nterm" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Amino acid from the N-terminus</h1>
                </div>
                <div class="filter-div">
                  <input name="relative" id="relative" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Relative (per 1000)</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="strat">
            <h1 id="h-step4" class="step-4">Step 4</h1>
            <div class="the-process-of-searching-for-p-wrapper">
              <h1 id="step4-text" class="the-process-of">
                The process of searching for peptides and creating Excel
                spreadsheets takes time, depending on the number of proteins,
                peptides, the quality of the Internet connection, efficiency
                uniprot.org
              </h1>
            </div>
            <div class="start-btn-wrapper">
              <button type="submit" class="start-btn" id="startBtn" onclick=startPopup('loading')>
                <h1 id="run-btn" class="run">Create</h1>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="errorMessagePopup" class="popup-overlay" style="display: none">
      <div class="error-message" data-animate-on-scroll>
        <div class="notification">
          <div class="modal-header">
            <div class="phosphor-icons-warning">
              <div class="warning">
                <img class="vector-icon" alt="" src="{{url_for('static', filename='images/vector.svg')}}" />
              </div>
            </div>
            <div class="empty-fields">Empty fields</div>
            <button class="close" id="close-error" onclick=closePopup("errorMessagePopup")>
              <div class="x1">
                <img class="vector-icon1" alt="" src="{{url_for('static', filename='images/vector1.svg')}}" />
              </div>
            </button>
          </div>
          <div class="text">
            <div class="fill-in-the">
              Fill in the protein and peptide fields, or select your files
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="okMessagePopup" class="popup-overlay" style="display: none" >
      <div class="ok-message" data-animate-on-scroll>
        <div class="notification1">
          <div class="modal-header1">
            <div class="phosphor-icons-checkcircle">
              <div class="checkcircle">
                <img class="vector-icon2" alt="" src="{{url_for('static', filename='images/vector2.svg')}}"/>
              </div>
            </div>
            <div class="file-uploaded">File uploaded</div>
            <button class="close1" id="close-ok" onclick=closePopup("okMessagePopup")>
              <div class="x2">
                <img class="vector-icon3" alt="" src="{{url_for('static', filename='images/vector3.svg')}}"/>
              </div>
            </button>
          </div>
          <div class="text1">
            <div class="the-file-was">The file was uploaded</div>
          </div>
        </div>
      </div>
    </div>
    <div id="modalPopup" class="popup-overlay" style="display: none">
      <div class="modal">
        <div class="modal-header2">
          <img class="feather-icons-info" alt="" src="./static/images/modal/feather-icons--info.svg"/>
          <div id="popupText" class="file-was-created">Creating a file</div>
          <label onclick="closePopup('modalPopup')">
            <img class="phosphor-icons-x" alt="" src="./static/images/modal/phosphor-icons--x.svg" id="popupcloseBtn"/>
          </label>
        </div>
        <img id="popupPreloader" class="spiner-with-bg" alt="" src="./static/images/modal/rolling-1.4s-300px-light.gif"/>
        <div class="button" id="downloadBtn">
          <button class="button1">
              <a id="downloadLink" class="download" href="#" style="text-decoration: none; color: #fff">Download</a>
          </button>
        </div>
      </div>
    </div>
    <script>
      Animation()

      var popupphosphorIconsX = document.getElementById("popupphosphorIconsX");
      if (popupphosphorIconsX) {
        popupphosphorIconsX.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }

      let params = (new URL(document.location)).searchParams;
      let peptides = params.get("peptides");
      if (peptides) {
        for (let i = 0; i < peptides.length; i++) {
          if (peptides[i] === '?') {
            console.log('312132123');
            peptides = peptides.replace('?', ',');
          }
        }
        input = document.getElementById("peptides-input");
        input.value = peptides;
      };

      $('#peptides-input').focus(function(){
        var that = this;
        setTimeout(function(){ that.selectionStart = that.selectionEnd = 10000; }, 0);
      });

      $('#userProteinsFile').on('click touchstart' , function(){
          $(this).val('');
      });
      $("#userProteinsFile").change(function(e){
         openMessage("okMessagePopup");
      });

      $('#userPeptidesFile').on('click touchstart' , function(){
          $(this).val('');
      });
      $("#userPeptidesFile").change(function(e){
         openMessage("okMessagePopup");
      });

        $(document).on('submit','#post-form',function(e) {
          e.preventDefault();
          var form_data = new FormData();
          form_data.append('userProteins', $('#userProteinsFile').prop('files')[0]);
          form_data.append('userPeptides', $('#userPeptidesFile').prop('files')[0]);
          form_data.append('proteins_value', $("#proteins-input").val());
          form_data.append('peptides_value', $("#peptides-input").val());
          form_data.append('entryName', $("#entry_name").is(':checked'));
          form_data.append('entryType', $("#status").is(':checked'));
          form_data.append('fullName', $("#protein_name").is(':checked'));
          form_data.append('scientificName', $("#scientific_name").is(':checked'));
          form_data.append('commonName', $("#common_name").is(':checked'));
          form_data.append('genes', $("#gene").is(':checked'));
          form_data.append('proteinExistence', $("#protein_existence").is(':checked'));
          form_data.append('length', $("#sequence_length").is(':checked'));
          form_data.append('massDa', $("#mass_da").is(':checked'));
          form_data.append('category', $("#category").is(':checked'));
          form_data.append('id', $("#peptide_id").is(':checked'));
          form_data.append('sequence', $("#sequence").is(':checked'));
          form_data.append('sequence_length', $("#peptide_length").is(':checked'));
          form_data.append('occurrence', $("#occurrence").is(':checked'));
          form_data.append('position', $("#position").is(':checked'));
          form_data.append('cter', $("#cterm").is(':checked'));
          form_data.append('nter', $("#nterm").is(':checked'));
          form_data.append('relative', $("#relative").is(':checked'));

          $.ajax({
            type:'POST',
            dataType:'json',
            url:'/search',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log('Success!');}})
        });

    $(document).ready(function(){
      var socket = io();
      socket.on('my response', function(msg) {
          if (msg) {
            console.log(msg);
            let downloadLink = document.getElementById("downloadLink");
            let downloadButton = document.getElementById("downloadBtn");
            let downloadButtonStyle = downloadButton.style;
            let popupPreloaderStyle = document.getElementById("popupPreloader").style;
            let popupText = document.getElementById("popupText");
            if (downloadButtonStyle) {
              downloadLink.href = "{{ url_for('download', filename='FILENAME') }}".replace("FILENAME", `${msg}.zip`);
              downloadButtonStyle.display = "flex";
            }
            if (popupPreloaderStyle) {
              popupPreloaderStyle.display = "none";
            }
            if (popupText) {
              popupText.innerHTML = "File was created";
            }

          }
      });
    });

    </script>
  </body>
</html>
