<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Search for peptides</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap"/>
    <link rel="shortcut icon" href="./static/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./static/images/favicon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link id="global-theme" rel="stylesheet" href="./static/css/global.css"/>
    <link id="index-theme" rel="stylesheet" href="./static/css/search/index-light.css"/>
    <link rel="stylesheet" href="./static/css/modal/modal.css"/>
    <link id="popupGlobal" rel="stylesheet" href="{{url_for('static', filename='css/modal/global.css')}}"/>
    <link id="popup-ok-msg" rel="stylesheet" href="{{url_for('static', filename='css/modal/ok-message.css')}}" />
    <link id="popup-error-msg" rel="stylesheet" href="{{url_for('static', filename='css/modal/error-message.css')}}" />
    <link rel="stylesheet" href="./static/css/header/index.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="secret-navigation" id="secretNavigation">
      <div class="burger">
        <button type="button" id="burgerMenu" onclick="openMenu();" class="t-menuburger t-menuburger_first">
          <span style="background-color:#fff;"></span>
          <span style="background-color:#fff;"></span>
          <span style="background-color:#fff;"></span>
          <span style="background-color:#fff;"></span>
        </button>
      </div>
      <div class="burger-btns">
        <a class="nav-btn" href="/search" style="text-decoration: none; color: #fff;"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
          <label class="search">Search</label>
        </a>
        <a class="nav-btn" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
          <label class="search">Database</label>
        </a>
        <a class="nav-btn" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
          <label class="search">Account</label>
        </a>
        {% if is_auth %}
        <a class="nav-btn" href="/panel">
          <label class="search">Edit panel</label>
        </a>
        {% endif %}
        <a class="nav-btn" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
          <label class="search">Menu</label>
        </a>
      </div>
    </div>
    <div class="window" id="main-body">
      <div class="container" data-animate-on-scroll>
          <header class="header">
            <div class=main_selector>
              <a href="/" class="logo" data-animate-on-scroll> <img class="logo-icon" alt="" src="{{url_for('static', filename='images/header/light/logo-blue-1@2x.png')}}" />
                <h1 class="site-name">UniPeptides</h1>
              </a>
              <div class="navigation">
                <button class="small-menu" onclick="openMenu();" id="parent"><img class="feather-icons-menu" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu.svg')}}" /></button>
                <a class="nav-btn main" href="/search"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--search.svg')}}" />
                  <label class="search">Search</label>
                </a>
                <a class="nav-btn main" href="/database"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--database.svg')}}" />
                  <label class="search">Database</label>
                </a>
                <a class="nav-btn main" href="/account"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--user.svg')}}" />
                  <label class="search">Account</label>
                </a>
                {% if is_auth %}
                <a class="nav-btn main" href="/panel">
                  <label class="search">Edit panel</label>
                </a>
                {% endif %}
                <a class="nav-btn main" href="/"> <img class="feather-icons-search" alt="" src="{{url_for('static', filename='images/header/light/feather-icons--menu1.svg')}}" />
                  <label class="search">Menu</label>
                </a>
              </div>
            </div>
          </header>
        <form class="content" method="post" id="post-form">
          <div class="handler">
            <div class="inputs">
              <div class="step-1">
                <h1 id="h-step1" class="step-11">Step 1</h1>
                <div class="step1-frame">
                  <h1 id="action-step1" class="enter-one-or">Enter one or more protein</h1>
                  <input class="step1-frame-child" type="text" name="proteins_value" placeholder="Q14050" id="proteins-input"/>
                  <h2 class="enter-one-or">OR</h2>
                  <div class="proteins-import">
                    <h3 class="import-txt-file">import TXT file</h3>
                    <input type="file" name="userProteinsFile" id="userProteinsFile" class="input-file" accept=".txt">
                    <label for="userProteinsFile" class="btn btn-tertiary js-labelFile">
                      <span class="js-fileName">Select</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="step-2">
                <h1 id="h-step2" class="step-11">Step 2</h1>
                <div class="step1-frame">
                  <h1 id="action-step2" class="enter-one-or">Enter one or more peptides</h1>
                  <input class="step1-frame-child" type="text" name="peptides_value" placeholder="GPPG, ATRGL, GGT" id="peptides-input"/>
                  <h2 class="enter-one-or">OR</h2>
                  <div class="proteins-import">
                    <h3 class="import-txt-file">import TXT file</h3>
                    <input type="file" name="userPeptidesFile" id="userPeptidesFile" class="input-file" accept=".txt">
                    <label for="userPeptidesFile" class="btn btn-tertiary js-labelFile">
                      <span class="js-fileName">Select</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="step3">
              <h1 id="h-step3" class="step-3">Step 3</h1>
              <div class="check-box">
                <div class="entry-identifier">
                  <div class="frame-parent">
                    <input name="entryName" id="entry_name" class="filters" type="checkbox" checked=""/>
                    <h1 class="text-filters">Entry name</h1>
                  </div>
                </div>
                <div class="filter-div">
                  <input name="entryType" id="status" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Status</h1>
                </div>
                <div class="filter-div">
                  <input name="fullName" value="1" id="protein_name" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Protein name</h1>
                </div>
                <div class="filter-div">
                  <input name="scientificName" id="scientific_name" class="filters" type="checkbox" checked="">
                  <h1 class="text-filters">Organism (scientific name)</h1>
                </div>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                      {% for message in messages %}
                        <div class="filter-div">
                          <input name="commonName" class="filters" type="checkbox" checked=""/>
                          <h1 class="text-filters">{{ message }}</h1>
                        </div>
                      {% endfor %}
                  {% endif %}
                {% endwith %}
                <div class="filter-div">
                  <input name="commonName" id="common_name" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Organism (common name)</h1>
                </div>
                <div class="filter-div">
                  <input name="genes" id="gene" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Gene name</h1>
                </div>
                <div class="filter-div">
                  <input name="proteinExistence" id="protein_existence" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Protein existence</h1>
                </div>
                <div class="filter-div">
                  <input name="length" id="sequence_length" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Length</h1>
                </div>
                <div class="filter-div">
                  <input name="massDa" id="mass_da" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Mass (Da)</h1>
                </div>
                <div class="filter-div">
                  <input name="category" id="category" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Category</h1>
                </div>
                <div class="filter-div">
                  <input name="id" id="peptide_id" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Peptide ID</h1>
                </div>
                <div class="filter-div">
                  <input name="sequence" id="sequence" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Sequence</h1>
                </div>
                <div class="filter-div">
                  <input name="sequence_length" id="peptide_length" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Sequence length</h1>
                </div>
                <div class="filter-div">
                  <input name="occurrence" id="occurrence" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Occurrence</h1>
                </div>
                <div class="filter-div">
                  <input name="position" id="position" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Position</h1>
                </div>
                <div class="filter-div">
                  <input name="cter" id="cterm" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Amino acid from the C-terminus</h1>
                </div>
                <div class="filter-div">
                  <input name="nter" id="nterm" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Amino acid from the N-terminus</h1>
                </div>
                <div class="filter-div">
                  <input name="relative" id="relative" class="filters" type="checkbox" checked=""/>
                  <h1 class="text-filters">Relative (per 1000)</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="strat">
            <h1 id="h-step4" class="step-11">Step 4</h1>
            <div class="the-process-of-searching-for-p-wrapper">
              <h1 id="step4-text" class="the-process-of">
                The process of searching for peptides and creating Excel
                spreadsheets takes time, depending on the number of proteins,
                peptides, the quality of the Internet connection, efficiency
                uniprot.org
              </h1>
            </div>
            <div class="start-btn-wrapper">
              <button type="submit" class="start-btn" id="startBtn" onclick=startPopup('loading')>
                <h1 id="run-btn" class="run">Create</h1>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="errorMessagePopup" class="popup-overlay" style="display: none">
      <div class="error-message" data-animate-on-scroll>
        <div class="notification">
          <div class="modal-header">
            <div class="phosphor-icons-warning">
              <div class="warning">
                <img class="vector-icon" alt="" src="{{url_for('static', filename='images/vector.svg')}}" />
              </div>
            </div>
            <div class="empty-fields">Empty fields</div>
            <button class="close" id="close-error" onclick=closePopup("errorMessagePopup")>
              <div class="x1">
                <img class="vector-icon1" alt="" src="{{url_for('static', filename='images/vector1.svg')}}" />
              </div>
            </button>
          </div>
          <div class="text">
            <div class="fill-in-the">
              Fill in the protein and peptide fields, or select your files
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="okMessagePopup" class="popup-overlay" style="display: none" >
      <div class="ok-message" data-animate-on-scroll>
        <div class="notification1">
          <div class="modal-header1">
            <div class="phosphor-icons-checkcircle">
              <div class="checkcircle">
                <img class="vector-icon2" alt="" src="{{url_for('static', filename='images/vector2.svg')}}"/>
              </div>
            </div>
            <div class="file-uploaded">File uploaded</div>
            <button class="close1" id="close-ok" onclick=closePopup("okMessagePopup")>
              <div class="x2">
                <img class="vector-icon3" alt="" src="{{url_for('static', filename='images/vector3.svg')}}"/>
              </div>
            </button>
          </div>
          <div class="text1">
            <div class="the-file-was">The file was uploaded</div>
          </div>
        </div>
      </div>
    </div>
    <div id="modalPopup" class="popup-overlay" style="display: none">
      <div class="modal">
        <div class="modal-header2">
          <img class="feather-icons-info" alt="" src="./static/images/modal/feather-icons--info.svg"/>
          <div id="popupText" class="file-was-created">Creating a file</div>
          <label onclick="closePopup('modalPopup');" id="close_modal">
            <img class="phosphor-icons-x" alt="" src="./static/images/modal/phosphor-icons--x.svg" id="popupcloseBtn"/>
          </label>
        </div>
        <img id="popupPreloader" class="spiner-with-bg" alt="" src="./static/images/modal/rolling-1.4s-300px-light.gif"/>
        <div class="information">
          <h1 id="message_title" class="message_title"></h1>
          <h2 id="message" class="message"></h2>
        </div>
        <div class="button" id="downloadBtn">
          <button class="button1">
              <a id="downloadLink" class="download" href="#" style="text-decoration: none; color: #fff">Download</a>
          </button>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/search.js')}}"></script>
</html>
