@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container.animate,
.logo.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.ahref {
    text-decoration: none;
}
.ahref:visited {
    color: #fff;
}
.lable {
  display: flex;
  align-items: center;
}
.lable {
  font-family: var(--font-inter);
  text-align: left;
  flex-shrink: 0;
}
.lable {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 24px;
  font-weight: 600;
  color: var(--color-black);
  height: 50px;
}
.a-program-for,
.lable {
  margin: 0;
}
.btn-text,
.text-about {
  position: relative;
  font-family: var(--font-inter);
  text-align: left;
}
.text-about {
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 512px;
  height: 160px;
  flex-shrink: 0;
}
.btn-text {
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-10);
}
.phosphor-icons-caretcircleri {
  position: relative;
  width: 40px;
  height: 40px;
}
.ahref,
.search-block {
  display: flex;
  box-sizing: border-box;
}
.ahref {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--color-dodgerblue);
  border-radius: var(--br-3xs);
  width: 184px;
  height: 65px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.search-block {
  border-radius: var(--br-xl);
  background-color: var(--color-lightgray-100);
  width: 602px;
  height: 347px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-26xl) var(--padding-23xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn-text1,
.lable1,
.text-about1 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  flex-shrink: 0;
}
.lable1 {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-13xl);
  line-height: 36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 50px;
}
.btn-text1,
.text-about1 {
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
  width: 512px;
  height: 160px;
}
.btn-text1 {
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-10);
  width: 97px;
  height: 20px;
}
.database-block,
.row {
  height: auto;
  display: flex;
  align-items: flex-start;
}
.database-block {
  border-radius: var(--br-xl);
  background-color: var(--color-lightgray-100);
  width: 602px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-26xl) var(--padding-23xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.row {
  width: 1440px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-21xl);
}
.btn-text2,
.text-about2 {
  position: relative;
  font-family: var(--font-inter);
  text-align: left;
}
.text-about2 {
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 512px;
  height: 160px;
  flex-shrink: 0;
}
.btn-text2 {
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-10);
}
.block2 {
  border-radius: var(--br-xl);
  background-color: var(--color-lightgray-100);
  width: 602px;
  height: 347px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-26xl) var(--padding-23xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn-text3,
.text-about3 {
  position: relative;
  font-family: var(--font-inter);
  text-align: left;
}
.text-about3 {
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-weight: 300;
  color: var(--color-black);
  display: inline-block;
  width: 510px;
  height: 160px;
  flex-shrink: 0;
}
.btn-text3 {
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-10);
}
.block3,
.row1 {
  display: flex;
  align-items: flex-start;
}
.block3 {
  border-radius: var(--br-xl);
  background-color: var(--color-lightgray-100);
  width: 602px;
  height: 347px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-26xl) var(--padding-23xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.row1 {
  width: 1440px;
  height: 404px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-21xl);
}
.container,
.content,
.main-menu {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content {
  height: 802px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-21xl);
  padding-top: 20px;
}
.container,
.main-menu {
  background-color: var(--gray-10);
  height: 100%;
  opacity: 1;
}
.main-menu {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0 var(--padding-221xl);
  box-sizing: border-box;
  opacity: 0;
}
.main-menu.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 1360px) {
  .lable {
    align-self: stretch;
    width: auto;
    height: 50px;
  }
  .text-about {
    width: 403px;
    height: 182px;
  }
  .btn-text {
    width: 118px;
    height: 20px;
    text-align: center;
  }
  .ahref {
    display: flex;
    width: auto;
    height: 65px;
    flex-direction: row;
  }
  .search-block {
    width: 469px;
    height: 381px;
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .lable1 {
    align-self: stretch;
    width: auto;
    height: 72px;
  }
  .text-about1 {
    width: 403px;
    height: 158px;
  }
  .btn-text1 {
    width: 97px;
    height: 20px;
  }
  .database-block {
    width: 469px;
    height: 381px;
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .row {
    height: auto;
    flex-direction: row;
  }
  .text-about2 {
    width: 403px;
    height: 182px;
  }
  .btn-text2 {
    width: 55px;
    height: 20px;
  }
  .block2 {
    width: 469px;
    height: 381px;
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text-about3 {
    width: 403px;
    height: 182px;
  }
  .btn-text3 {
    width: 120px;
    height: 20px;
  }
  .block3 {
    width: 469px;
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .block3,
  .row1 {
    height: 381px;
  }
  .content {
    width: 1000px;
    height: 842px;
    gap: var(--gap-21xl);
    justify-content: flex-start;
  }
  .container,
  .content,
  .main-menu {
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 1000px;
    height: 1000px;
    gap: var(--gap-0);
    justify-content: flex-start;
  }
  .main-menu {
    display: flex;
    width: auto;
    height: 1200px;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1000px) {
  .lable {
    align-self: stretch;
    width: auto;
    height: 50px;
  }
  .text-about {
    width: 625px;
    height: 109px;
  }
  .ahref {
    width: 184px;
    height: 65px;
  }
  .search-block {
    width: 715px;
    height: 298px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .lable1 {
    align-self: stretch;
    width: auto;
    height: 36px;
  }
  .text-about1 {
    width: 625px;
    height: 123px;
  }
  .database-block,
  .row {
    width: 715px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .row {
    height: auto;
    gap: var(--gap-21xl);
    align-items: center;
  }
  .text-about2 {
    width: 625px;
    height: 109px;
  }
  .block2 {
    width: 715px;
    height: 298px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text-about3 {
    width: 625px;
    height: 109px;
  }
  .block3,
  .row1 {
    justify-content: flex-start;
  }
  .block3 {
    width: 715px;
    height: 298px;
    flex-direction: column;
    align-items: flex-start;
  }
  .row1 {
    height: 636px;
    gap: var(--gap-21xl);
    align-items: center;
  }
  .container,
  .content,
  .row1 {
    width: 715px;
    flex-direction: column;
  }
  .content {
    height: 1352px;
    gap: var(--gap-21xl);
    align-items: center;
    justify-content: flex-start;
  }
  .container {
    height: 1137px;
    gap: var(--gap-0);
  }
  .main-menu {
    width: auto;
    height: 1600px;
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 730px) {
  .text-about {
    width: 330px;
    height: 209px;
  }
  .search-block {
    width: 420px;
    height: 404px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .lable1 {
    width: 330px;
    height: 72px;
  }
  .text-about1 {
    width: 330px;
    height: 185px;
  }
  .database-block,
  .row {
    width: auto;
    justify-content: flex-start;
  }
  .database-block {
    height: 404px;
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    padding-top: var(--padding-11xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .row {
    height: auto;
    gap: var(--gap-21xl);
    align-items: center;
  }
  .text-about2 {
    width: 329px;
    height: 232px;
  }
  .block2 {
    width: 420px;
    height: 427px;
  }
  .text-about3 {
    width: 328px;
    height: 209px;
  }
  .block3 {
    width: 420px;
    height: 404px;
  }
  .row1 {
    height: 911px;
  }
  .content {
    width: 420px;
    height: 1799px;
  }
  .container,
  .content,
  .main-menu {
    align-items: center;
    justify-content: flex-start;
  }
  .container {
    width: 420px;
    height: 2096px;
    gap: var(--gap-0);
    min-height: 2200px;
  }
  .main-menu {
    height: 2100px;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .main-menu {
    height: 1930px;
  }
  .container,
  .content {
    width: 320px;
  }
  .row, .row1, .content {
    gap: 20px;
  }
  .search-block {
    min-height: 345px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
    padding: 23px 20px 23px;
    height: auto;
  }
  .text-about {
    min-height: 180px;
    width: auto;
    height: 270px;
  }
  .a-program-for {
    font-size: 20px;
  }
  .lable {
    align-self: stretch;
    width: auto;
    height: auto;
    font-size: 26px;
    line-height: 1.2;
  }
  .ahref {
    width: 144px;
    height: 45px;
    border-radius: 6px;
  }
  .btn-text {
    font-size: 24px;
    text-align: center;
  }
  .phosphor-icons-caretcircleri {
    width: 34px;
    height: 34px;
  }
}
