@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.logo,
.site-name {
  display: flex;
  align-items: center;
}
.site-name {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  width: 300px;
  height: 24px;
  flex-shrink: 0;
  font-size: 64px;
}
.logo {
  width: 500px;
  height: 130px;
  flex-direction: row;
  padding: var(--padding-16xl) 0 var(--padding-26xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  opacity: 1;
  font-size: 50px;
  color: var(--color-dodgerblue);
}
.logo.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.feather-icons-menu,
.feather-icons-search {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.feather-icons-menu {
  width: 50px;
  height: 50px;
  display: none;
}
.feather-icons-search {
  width: 24px;
  height: 24px;
}
.search {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}
a.nav-btn:visited {
    color: #fff;
}
a {
    text-decoration: none;
}
.nav-btn {
  border-radius: var(--br-9xs);
  background-color: var(--color-dodgerblue);
  width: 130px;
  height: 50px;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.nav-btn,
.navigation {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.navigation {
  flex: 1;
  height: 130px;
  padding: var(--padding-mini) 0;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-mini);
}
}
.header,
.secret-navigation {
  align-items: center;
  justify-content: center;
}
.secret-navigation {
  width: 480px;
  display: none;
  flex-direction: column;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
  gap: var(--gap-mini);
  transition: .5s all;
}
.header {
  position: relative;
  background-color: var(--gray-10);
  width: 1360px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--gray-10);
  font-family: var(--font-inter);
  justify-content: center;
  align-items: center;
}
.main_selector {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center
}
.small-menu {
    background-color: #fff;
    border: 0;
}
@media screen and (max-width: 1360px) {
  .logo-icon {
    width: 116px;
    height: 116px;
  }
  .site-name {
    font-size: 64px;
    text-align: left;
    width: 400px;
    height: 24px;
  }
  .logo {
    align-self: stretch;
    width: auto;
    height: 130px;
    flex-direction: row;
    gap: var(--gap-mini);
    align-items: center;
    justify-content: center;
  }
  .feather-icons-menu {
    display: none;
  }
  .nav-btn {
    display: flex;
    width: 130px;
    height: 50px;
  }
  .navigation {
    align-self: stretch;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: var(--gap-mini);
    align-items: center;
    justify-content: center;
    flex: unset;
  }
  .header,
  .secret-navigation {
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .secret-navigation {
    display: none;
    align-self: stretch;
    width: auto;
    flex-direction: row;
    gap: var(--gap-mini);
  }
  .header {
    width: 1000px;
    flex-direction: column;
    gap: var(--gap-0);
  }
}
@media screen and (max-width: 1000px) {
  .logo-icon {
    width: 116px;
    height: 116px;
  }
  .site-name {
    font-size: var(--font-size-45xl);
    width: 400px;
    height: 24px;
  }
  .logo {
    align-self: stretch;
    width: auto;
    height: 130px;
    flex-direction: row;
    gap: var(--gap-mini);
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .nav-btn {
    display: flex;
    width: 130px;
    height: 50px;
  }
  .navigation {
    align-items: center;
    justify-content: center;
  }
  .navigation {
    align-self: stretch;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: var(--gap-mini);
    flex: unset;
  }
  .header,
  .secret-navigation {
    align-items: center;
    justify-content: center;
  }
  .header,
  .secret-navigation {
    height: auto;
  }
  .secret-navigation {
    display: none;
    align-self: stretch;
    width: auto;
    flex-direction: row;
    gap: var(--gap-mini);
  }
  .header {
    width: 715px;
    flex-direction: column;
    gap: var(--gap-0);
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 730px) {
  .header {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main_selector {
    display: flex;
    flex-direction: row;
    justify-content: center
  }
  .navigation {
    display: flex;
    width: 52px;
    height: 130px;
    padding: 15px 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex: 1 0 0;
  }
  .secret-navigation {
    display: none;
    width: 480px;
    padding: 15px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .feather-icons-menu {
    display: flex;
  }
  .logo-icon {
    width: 100px;
    height: 100px;
  }
  .site-name {
    font-size: 50px;
    width: 300px;
    height: 24px;
  }
  .logo {
    height: 130px;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }
  .nav-btn {
    display: flex;
    height: 50px;
    width: auto;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
  }
  .main {
    display: none;
  }
  .navigation {
    align-items: center;
    justify-content: center;
    flex: unset;
    align-self: stretch;
  } 
  .secret-navigation {
    width: 500px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .header {
    display: flex;
    width: 320px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main_selector {
    height: 100px;
    display: flex;
    padding-left: 0px;
    align-items: center;
    align-self: stretch;
    justify-content: center
  }
  .logo {
    width: 280px;
    gap: 0;
    padding: 35px 0px 41px 0px;
  }
  .logo-icon {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
  }
  .navigation {
    width: 40px;
  }
  .site-name {
    display: flex;
    width: 200px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 30px;
  }
  .nav-btn {
    width: 320px;
    height: 45px;
    font-size: 15px;
  }
  .feather-icons-search {
    width: 20px;
    height: 20px;
  }
  .feather-icons-menu {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 730px) {
    .navigation {
        width: 75px;
    }
    .secret-navigation {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .navigation {
        width: 30px;
    }
    .nav-btn {
        width: 100%;
    }
}